USE [master]
GO
/****** Object:  Database [OpcUaSystem]    Script Date: 06.11.2025 12:33:23 ******/
CREATE DATABASE [OpcUaSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpcUaSystem', FILENAME = N'E:\OpcUaSystem\OpcUaSystem.mdf' , SIZE = 336896KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OpcUaSystem_log', FILENAME = N'E:\OpcUaSystem\OpcUaSystem_log.ldf' , SIZE = 3743744KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpcUaSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpcUaSystem]
GO
/****** Object:  User [tg_user]    Script Date: 06.11.2025 12:33:23 ******/
CREATE USER [tg_user] FOR LOGIN [tg_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [tg_user]
GO
/****** Object:  Table [dbo].[OpcData]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcData](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TagId] [int] NOT NULL,
	[Value] [float] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_OpcIngestHealth]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_OpcIngestHealth] AS
SELECT 
    MAX(d.[Timestamp])                  AS LastWriteAt,
    DATEDIFF(MINUTE, MAX(d.[Timestamp]), SYSUTCDATETIME()) AS MinutesSinceLastWrite,
    COUNT(*)                            AS RowsCountSinceMidnight
FROM dbo.OpcData d
WHERE d.[Timestamp] >= DATEADD(DAY, DATEDIFF(DAY, 0, SYSUTCDATETIME()), 0); -- с полуночи UTC
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[EquipmentId] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](200) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TagName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceLog]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[LoggedAt] [datetime2](0) NOT NULL,
	[Author] [nvarchar](128) NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpcServers]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcServers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[EndpointUrl] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[OpcUsername] [nvarchar](100) NULL,
	[OpcPassword] [nvarchar](256) NULL,
	[SecurityPolicy] [nvarchar](50) NULL,
	[SecurityMode] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_OpcServers_EndpointUrl] UNIQUE NONCLUSTERED 
(
	[EndpointUrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpcTags]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServerId] [int] NOT NULL,
	[BrowseName] [nvarchar](200) NOT NULL,
	[NodeId] [nvarchar](500) NOT NULL,
	[DataType] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Path] [nvarchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ServerId] ASC,
	[NodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollingIntervals]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollingIntervals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IntervalSeconds] [int] NOT NULL,
	[Type] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollingTasks]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollingTasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[server_url] [nvarchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
	[started_at] [datetime] NULL,
	[interval_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollingTaskTags]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollingTaskTags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[polling_task_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PollingTaskTag] UNIQUE NONCLUSTERED 
(
	[polling_task_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportDeliveryLog]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDeliveryLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReportId] [int] NOT NULL,
	[TargetType] [nvarchar](20) NOT NULL,
	[TargetValue] [nvarchar](255) NOT NULL,
	[SentAt] [datetime] NULL,
	[DeliveryStatus] [nvarchar](20) NOT NULL,
	[ErrorMessage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NOT NULL,
	[DateCreated] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ExportedFile] [nvarchar](255) NULL,
	[ExportFormat] [nvarchar](10) NULL,
	[SentTo] [nvarchar](255) NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportSchedule]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[PeriodType] [nvarchar](20) NOT NULL,
	[TimeOfDay] [time](7) NOT NULL,
	[NextRun] [datetime] NULL,
	[LastRun] [datetime] NULL,
	[Active] [bit] NOT NULL,
	[TargetType] [nvarchar](20) NOT NULL,
	[TargetValue] [nvarchar](255) NOT NULL,
	[AggregationType] [nvarchar](20) NULL,
	[SendFormat] [nvarchar](20) NULL,
	[WindowMinutes] [int] NULL,
	[AvgSeconds] [int] NULL,
	[StyleId] [int] NULL,
	[StyleOverride] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportStyles]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportStyles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ChartStyle] [nvarchar](max) NULL,
	[TableStyle] [nvarchar](max) NULL,
	[IsDefault] [bit] NOT NULL,
	[UserId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ExcelStyle] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportTemplates]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
	[IsShared] [bit] NULL,
	[ShareHash] [varchar](64) NULL,
	[ReportType] [nvarchar](50) NULL,
	[PeriodType] [nvarchar](20) NULL,
	[AutoSchedule] [bit] NULL,
	[TargetChannel] [nvarchar](128) NULL,
	[StyleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportTemplateTags]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportTemplateTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
	[TagType] [nvarchar](20) NOT NULL,
	[Aggregate] [varchar](16) NULL,
	[IntervalMinutes] [int] NOT NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelegramReportTarget]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelegramReportTarget](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChannelId] [bigint] NOT NULL,
	[ChannelName] [nvarchar](128) NOT NULL,
	[ThreadId] [int] NULL,
	[SendAsFile] [bit] NULL,
	[SendAsText] [bit] NULL,
	[SendAsChart] [bit] NULL,
	[Active] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Permission] [nvarchar](100) NOT NULL,
	[GrantedAt] [datetime2](7) NOT NULL,
	[GrantedByUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserPermissions] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[TelegramId] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceLog_Equipment_LoggedAt]    Script Date: 06.11.2025 12:33:23 ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceLog_Equipment_LoggedAt] ON [dbo].[MaintenanceLog]
(
	[EquipmentId] ASC,
	[LoggedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OpcData_Tag_TS]    Script Date: 06.11.2025 12:33:23 ******/
CREATE NONCLUSTERED INDEX [IX_OpcData_Tag_TS] ON [dbo].[OpcData]
(
	[TagId] ASC,
	[Timestamp] ASC
)
INCLUDE([Value],[Status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceLog] ADD  CONSTRAINT [DF_ML_LoggedAt]  DEFAULT (sysutcdatetime()) FOR [LoggedAt]
GO
ALTER TABLE [dbo].[OpcData] ADD  DEFAULT ('Good') FOR [Status]
GO
ALTER TABLE [dbo].[OpcTags] ADD  DEFAULT ('Float') FOR [DataType]
GO
ALTER TABLE [dbo].[PollingTasks] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[ReportDeliveryLog] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ('complete') FOR [Status]
GO
ALTER TABLE [dbo].[ReportSchedule] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[ReportStyles] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[ReportStyles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReportStyles] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ReportTemplates] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ReportTemplates] ADD  DEFAULT (getdate()) FOR [DateUpdated]
GO
ALTER TABLE [dbo].[ReportTemplates] ADD  DEFAULT ((0)) FOR [IsShared]
GO
ALTER TABLE [dbo].[ReportTemplates] ADD  DEFAULT ((0)) FOR [AutoSchedule]
GO
ALTER TABLE [dbo].[ReportTemplateTags] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[TelegramReportTarget] ADD  DEFAULT ((1)) FOR [SendAsFile]
GO
ALTER TABLE [dbo].[TelegramReportTarget] ADD  DEFAULT ((1)) FOR [SendAsText]
GO
ALTER TABLE [dbo].[TelegramReportTarget] ADD  DEFAULT ((0)) FOR [SendAsChart]
GO
ALTER TABLE [dbo].[TelegramReportTarget] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[TelegramReportTarget] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserPermissions] ADD  CONSTRAINT [DF_UserPermissions_GrantedAt]  DEFAULT (sysutcdatetime()) FOR [GrantedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MaintenanceLog]  WITH CHECK ADD FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([EquipmentId])
GO
ALTER TABLE [dbo].[OpcData]  WITH CHECK ADD FOREIGN KEY([TagId])
REFERENCES [dbo].[OpcTags] ([Id])
GO
ALTER TABLE [dbo].[OpcTags]  WITH CHECK ADD FOREIGN KEY([ServerId])
REFERENCES [dbo].[OpcServers] ([Id])
GO
ALTER TABLE [dbo].[PollingTasks]  WITH CHECK ADD FOREIGN KEY([interval_id])
REFERENCES [dbo].[PollingIntervals] ([Id])
GO
ALTER TABLE [dbo].[PollingTaskTags]  WITH CHECK ADD FOREIGN KEY([polling_task_id])
REFERENCES [dbo].[PollingTasks] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PollingTaskTags]  WITH CHECK ADD FOREIGN KEY([tag_id])
REFERENCES [dbo].[OpcTags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportDeliveryLog]  WITH CHECK ADD FOREIGN KEY([ReportId])
REFERENCES [dbo].[Reports] ([Id])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([TemplateId])
REFERENCES [dbo].[ReportTemplates] ([Id])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ReportSchedule]  WITH CHECK ADD FOREIGN KEY([TemplateId])
REFERENCES [dbo].[ReportTemplates] ([Id])
GO
ALTER TABLE [dbo].[ReportSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ReportSchedule_ReportStyles] FOREIGN KEY([StyleId])
REFERENCES [dbo].[ReportStyles] ([Id])
GO
ALTER TABLE [dbo].[ReportSchedule] CHECK CONSTRAINT [FK_ReportSchedule_ReportStyles]
GO
ALTER TABLE [dbo].[ReportTemplates]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ReportTemplates]  WITH CHECK ADD  CONSTRAINT [FK_ReportTemplates_Style] FOREIGN KEY([StyleId])
REFERENCES [dbo].[ReportStyles] ([Id])
GO
ALTER TABLE [dbo].[ReportTemplates] CHECK CONSTRAINT [FK_ReportTemplates_Style]
GO
ALTER TABLE [dbo].[ReportTemplateTags]  WITH CHECK ADD FOREIGN KEY([TagId])
REFERENCES [dbo].[OpcTags] ([Id])
GO
ALTER TABLE [dbo].[ReportTemplateTags]  WITH CHECK ADD FOREIGN KEY([TemplateId])
REFERENCES [dbo].[ReportTemplates] ([Id])
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Users]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMaintenanceLog]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- OpcUaSystem
CREATE PROCEDURE [dbo].[sp_AddMaintenanceLog]
    @TagName     NVARCHAR(200),
    @Author      NVARCHAR(128),
    @ActionType  NVARCHAR(50),
    @Status      NVARCHAR(50) = NULL,
    @Comment     NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EquipmentId INT = (
        SELECT EquipmentId FROM dbo.Equipment WHERE TagName=@TagName
    );
    IF @EquipmentId IS NULL
    BEGIN
        INSERT INTO dbo.Equipment(TagName, Name) VALUES(@TagName, @TagName);
        SET @EquipmentId = SCOPE_IDENTITY();
    END

    -- ЛОКАЛЬНОЕ время Астаны (UTC+05) с секундной точностью
    DECLARE @NowLocal DATETIME2(0) =
        CAST(SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:00') AS DATETIME2(0));
        -- Аналог через TZ (если SQL 2016+):  
        -- CAST((SYSUTCDATETIME() AT TIME ZONE 'Central Asia Standard Time') AS DATETIME2(0))

    INSERT INTO dbo.MaintenanceLog (EquipmentId, LoggedAt, Author, ActionType, Status, Comment)
    VALUES (@EquipmentId, @NowLocal, @Author, @ActionType, @Status, @Comment);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAggregatedStats]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetAggregatedStats]
    @TagId INT = NULL,
    @GroupId INT = NULL,
    @DateFrom NVARCHAR(50),
    @DateTo NVARCHAR(50),
    @AggType NVARCHAR(10) = 'SUM'  -- SUM, AVG, MIN, MAX
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;
    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo, 120);

    -- Если группа не указана, работаем по одному тегу
    IF @GroupId IS NULL AND @TagId IS NOT NULL
    BEGIN
        DECLARE @sql NVARCHAR(MAX) = N'
            SELECT
                @AggType AS agg_type,
                @TagId AS tag_id,
                ' + CASE 
                        WHEN @AggType = 'SUM' THEN 'SUM([Value])'
                        WHEN @AggType = 'AVG' THEN 'AVG([Value])'
                        WHEN @AggType = 'MIN' THEN 'MIN([Value])'
                        WHEN @AggType = 'MAX' THEN 'MAX([Value])'
                        ELSE 'NULL' END + N' AS result
            FROM OPCData
            WHERE TagId = @TagId AND [Timestamp] BETWEEN @DateFromDT AND @DateToDT
        ';
        EXEC sp_executesql @sql,
            N'@TagId INT, @DateFromDT DATETIME, @DateToDT DATETIME, @AggType NVARCHAR(10)',
            @TagId, @DateFromDT, @DateToDT, @AggType;
    END
    ELSE IF @GroupId IS NOT NULL
    BEGIN
        -- Для группы предполагаем наличие таблицы TagGroups(TagId, GroupId)
        DECLARE @sql1 NVARCHAR(MAX) = N'
            SELECT
                @AggType AS agg_type,
                d.TagId AS tag_id,
                ' + CASE 
                        WHEN @AggType = 'SUM' THEN 'SUM(d.[Value])'
                        WHEN @AggType = 'AVG' THEN 'AVG(d.[Value])'
                        WHEN @AggType = 'MIN' THEN 'MIN(d.[Value])'
                        WHEN @AggType = 'MAX' THEN 'MAX(d.[Value])'
                        ELSE 'NULL' END + N' AS result
            FROM OPCData d
            INNER JOIN TagGroups tg ON tg.TagId = d.TagId
            WHERE tg.GroupId = @GroupId AND d.[Timestamp] BETWEEN @DateFromDT AND @DateToDT
            GROUP BY d.TagId
        ';
        EXEC sp_executesql @sql1,
            N'@GroupId INT, @DateFromDT DATETIME, @DateToDT DATETIME, @AggType NVARCHAR(10)',
            @GroupId, @DateFromDT, @DateToDT, @AggType;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBalanceReport]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBalanceReport]
    @date_from DATE,
    @date_to DATE,
    @tag_ids NVARCHAR(MAX)  -- '1,3,5,7'
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;

    -- Список тегов: парсим через STRING_SPLIT
    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    -- ... (далее всё без изменений)
    ;WITH DateRange AS (
        SELECT @date_from AS [Date]
        UNION ALL
        SELECT DATEADD(DAY, 1, [Date]) FROM DateRange WHERE [Date] < @date_to
    ),
    Shifts AS (
        SELECT 1 AS ShiftNo, N'Дневная' AS ShiftName, CAST('08:00:00' AS time) AS ShiftStart, CAST('19:59:59' AS time) AS ShiftEnd
        UNION ALL
        SELECT 2, N'Ночная', CAST('20:00:00' AS time), CAST('07:59:59' AS time)
    ),
    TagList AS (
        SELECT t.TagId, ot.BrowseName
        FROM @TagTable t
        JOIN OpcTags ot ON ot.Id = t.TagId
    ),
    ShiftData AS (
        SELECT 
            dr.[Date],
            s.ShiftNo,
            s.ShiftName,
            t.BrowseName AS TagName,
            MIN(od.Value) AS StartValue,
            MAX(od.Value) AS EndValue,
            MAX(od.Value) - MIN(od.Value) AS Delta
        FROM DateRange dr
        CROSS JOIN Shifts s
        CROSS JOIN TagList t
        LEFT JOIN OpcData od ON
            od.TagId = t.TagId
            AND (
                (s.ShiftNo = 1 AND CAST(od.Timestamp AS DATE) = dr.[Date] AND CAST(od.Timestamp AS time) BETWEEN s.ShiftStart AND s.ShiftEnd)
                OR
                (s.ShiftNo = 2 AND (
                    (CAST(od.Timestamp AS DATE) = dr.[Date] AND CAST(od.Timestamp AS time) BETWEEN s.ShiftStart AND CAST('23:59:59' AS time))
                    OR
                    (CAST(od.Timestamp AS DATE) = DATEADD(DAY, 1, dr.[Date]) AND CAST(od.Timestamp AS time) BETWEEN CAST('00:00:00' AS time) AND s.ShiftEnd)
                ))
            )
        GROUP BY dr.[Date], s.ShiftNo, s.ShiftName, t.TagId, t.BrowseName
    ),
    DailyData AS (
        SELECT 
            sd.[Date],
            NULL AS ShiftNo,
            N'Сутки' AS ShiftName,
            sd.TagName,
            MIN(sd.StartValue) AS StartValue,
            MAX(sd.EndValue) AS EndValue,
            SUM(sd.Delta) AS Delta
        FROM ShiftData sd
        GROUP BY sd.[Date], sd.TagName
    )
    SELECT 
        [Date],
        ShiftNo,
        ShiftName AS [Смена],
        TagName,
        StartValue AS [Начало],
        EndValue AS [Конец],
        Delta AS [Прирост]
    FROM (
        SELECT [Date], ShiftNo, ShiftName, TagName, StartValue, EndValue, Delta FROM ShiftData
        UNION ALL
        SELECT [Date], ShiftNo, ShiftName, TagName, StartValue, EndValue, Delta FROM DailyData
    ) AS Unioned
    ORDER BY 
        [Date], 
        CASE 
            WHEN ShiftName = N'Дневная' THEN 1
            WHEN ShiftName = N'Ночная' THEN 2
            ELSE 3
        END,
        TagName
    OPTION (MAXRECURSION 1000);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomReport]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCustomReport]
    @DateFrom NVARCHAR(50),
    @DateTo NVARCHAR(50),
    @TagsJson NVARCHAR(MAX)  -- [{"tag_id":1, "aggregate":"AVG", "interval_minutes":5}, ...]
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;
    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo, 120);

    -- Парсим JSON конфиг тегов
    IF OBJECT_ID('tempdb..#TagConfig') IS NOT NULL DROP TABLE #TagConfig;
    SELECT *
      INTO #TagConfig
      FROM OPENJSON(@TagsJson)
      WITH (
          tag_id INT,
          aggregate NVARCHAR(8),
          interval_minutes INT
      );

    -- Собираем массив SELECT-ов
    DECLARE @parts TABLE (SqlPart NVARCHAR(MAX));

    DECLARE @TagId INT, @Agg NVARCHAR(8), @Interval INT, @part NVARCHAR(MAX);

    DECLARE TagCursor CURSOR FOR
        SELECT tag_id, aggregate, interval_minutes FROM #TagConfig;

    OPEN TagCursor;
    FETCH NEXT FROM TagCursor INTO @TagId, @Agg, @Interval;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @part = 
        'SELECT ' + 
            CAST(@TagId AS NVARCHAR) + ' AS TagId, ' +
            'ISNULL(''' + ISNULL(@Agg, '') + ''', '''') AS Aggregate, ' +
            CAST(@Interval AS NVARCHAR) + ' AS IntervalMinutes, ' +
            CASE 
                WHEN @Interval > 1 THEN
                    'DATEADD(MINUTE, DATEDIFF(MINUTE, 0, d.[Timestamp]) / ' + CAST(@Interval AS NVARCHAR) + ' * ' + CAST(@Interval AS NVARCHAR) + ', 0)'
                ELSE
                    'd.[Timestamp]'
            END + ' AS TimeGroup, ' +
            CASE
                WHEN ISNULL(@Agg, '') = '' THEN 'MAX(CAST(d.[Value] AS FLOAT))' -- Сырое (последнее за интервал)
                WHEN @Agg = 'AVG' THEN 'AVG(CAST(d.[Value] AS FLOAT))'
                WHEN @Agg = 'SUM' THEN 'SUM(CAST(d.[Value] AS FLOAT))'
                WHEN @Agg = 'MIN' THEN 'MIN(CAST(d.[Value] AS FLOAT))'
                WHEN @Agg = 'MAX' THEN 'MAX(CAST(d.[Value] AS FLOAT))'
                ELSE 'MAX(CAST(d.[Value] AS FLOAT))'
            END + ' AS Value ' +
        'FROM OPCData d ' +
        'WHERE d.TagId = ' + CAST(@TagId AS NVARCHAR) + ' AND d.[Timestamp] >= @DateFromDT AND d.[Timestamp] < @DateToDT ' +
        'GROUP BY ' + 
            CASE 
                WHEN @Interval > 1 THEN
                    'DATEADD(MINUTE, DATEDIFF(MINUTE, 0, d.[Timestamp]) / ' + CAST(@Interval AS NVARCHAR) + ' * ' + CAST(@Interval AS NVARCHAR) + ', 0)'
                ELSE
                    'd.[Timestamp]'
            END;

        INSERT INTO @parts(SqlPart) VALUES (@part);

        FETCH NEXT FROM TagCursor INTO @TagId, @Agg, @Interval;
    END

    CLOSE TagCursor;
    DEALLOCATE TagCursor;

    -- Собираем финальный SQL
    DECLARE @sql NVARCHAR(MAX) = '';
    SELECT @sql = STRING_AGG(SqlPart, ' UNION ALL ')
    FROM @parts;

    -- print(@sql) -- для отладки

    IF LEN(@sql) > 0
        EXEC sp_executesql @sql, N'@DateFromDT DATETIME, @DateToDT DATETIME', @DateFromDT, @DateToDT;

    DROP TABLE #TagConfig;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDailyDelta]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetDailyDelta]
    @TagId INT,
    @DateFrom NVARCHAR(50),
    @DateTo NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;
    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo, 120);

    ;WITH Days AS (
        SELECT TOP (DATEDIFF(DAY, @DateFromDT, @DateToDT) + 1)
            DATEADD(DAY, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1, @DateFromDT) AS DayStart
        FROM sys.all_objects
    ),
    DayValues AS (
        SELECT
            d.DayStart,
            o.[Value], o.[Timestamp],
            ROW_NUMBER() OVER (PARTITION BY d.DayStart ORDER BY o.[Timestamp] ASC)  AS rn_asc,
            ROW_NUMBER() OVER (PARTITION BY d.DayStart ORDER BY o.[Timestamp] DESC) AS rn_desc
        FROM Days d
        LEFT JOIN OPCData o
            ON o.TagId = @TagId
           AND o.[Timestamp] >= d.DayStart
           AND o.[Timestamp] <  DATEADD(DAY, 1, d.DayStart)
    )
    SELECT
        d.DayStart AS [Day],
        v_first.[Value] AS [FirstValue],
        v_last.[Value]  AS [LastValue],
        v_last.[Value] - v_first.[Value] AS [Delta]
    FROM
        (SELECT DISTINCT DayStart FROM DayValues) d
        LEFT JOIN DayValues v_first ON d.DayStart = v_first.DayStart AND v_first.rn_asc = 1
        LEFT JOIN DayValues v_last  ON d.DayStart = v_last.DayStart  AND v_last.rn_desc = 1
    WHERE v_first.[Value] IS NOT NULL AND v_last.[Value] IS NOT NULL
    ORDER BY d.DayStart;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMaintenanceLogsByTag]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Процедура чтения (пагинация + период)
CREATE   PROCEDURE [dbo].[sp_GetMaintenanceLogsByTag]
    @TagName     NVARCHAR(200),
    @FromUtc     DATETIME2(0) = NULL,
    @ToUtc       DATETIME2(0) = NULL,
    @Limit       INT = 200,
    @Offset      INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EquipmentId INT = (SELECT EquipmentId FROM dbo.Equipment WHERE TagName=@TagName);
    IF @EquipmentId IS NULL
    BEGIN
        -- Возвращаем пустой набор
        SELECT CAST(NULL AS INT) AS LogId WHERE 1=0;
        RETURN;
    END

    SELECT LogId, LoggedAt, Author, ActionType, Status, Comment
    FROM dbo.MaintenanceLog
    WHERE EquipmentId=@EquipmentId
      AND (@FromUtc IS NULL OR LoggedAt >= @FromUtc)
      AND (@ToUtc   IS NULL OR LoggedAt <  @ToUtc)
    ORDER BY LoggedAt DESC
    OFFSET @Offset ROWS FETCH NEXT @Limit ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetShiftDelta]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetShiftDelta]
    @TagId INT,
    @DateFrom NVARCHAR(50),
    @DateTo   NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;
    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo, 120);

    ;WITH ShiftTimes AS (
        SELECT
            DATEADD(HOUR, 8, d)  AS ShiftStart,   -- 08:00
            DATEADD(HOUR, 20, d) AS ShiftEnd,     -- 20:00
            1 AS ShiftNo
        FROM (
            SELECT TOP (DATEDIFF(DAY, @DateFromDT, @DateToDT) + 1)
                DATEADD(DAY, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1, @DateFromDT) AS d
            FROM sys.all_objects
        ) t
        UNION ALL
        SELECT
            DATEADD(HOUR, 20, d), DATEADD(HOUR, 32, d), 2 -- 20:00 до 08:00 следующего дня
        FROM (
            SELECT TOP (DATEDIFF(DAY, @DateFromDT, @DateToDT) + 1)
                DATEADD(DAY, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1, @DateFromDT) AS d
            FROM sys.all_objects
        ) t
    ),
    ShiftValues AS (
        SELECT
            s.ShiftStart, s.ShiftEnd, s.ShiftNo,
            o.[Value], o.[Timestamp],
            ROW_NUMBER() OVER (PARTITION BY s.ShiftStart, s.ShiftNo ORDER BY o.[Timestamp] ASC)  AS rn_asc,
            ROW_NUMBER() OVER (PARTITION BY s.ShiftStart, s.ShiftNo ORDER BY o.[Timestamp] DESC) AS rn_desc
        FROM ShiftTimes s
        LEFT JOIN OPCData o
            ON o.TagId = @TagId
           AND o.[Timestamp] >= s.ShiftStart
           AND o.[Timestamp] <  s.ShiftEnd
    )
    SELECT
        s.ShiftStart,
        s.ShiftNo,
        v_first.[Value] AS FirstValue,
        v_last.[Value]  AS LastValue,
        v_last.[Value] - v_first.[Value] AS ShiftDelta
    FROM
        (SELECT DISTINCT ShiftStart, ShiftNo FROM ShiftValues) s
        LEFT JOIN ShiftValues v_first ON s.ShiftStart = v_first.ShiftStart AND s.ShiftNo = v_first.ShiftNo AND v_first.rn_asc = 1
        LEFT JOIN ShiftValues v_last  ON s.ShiftStart = v_last.ShiftStart  AND s.ShiftNo = v_last.ShiftNo  AND v_last.rn_desc = 1
    WHERE v_first.[Value] IS NOT NULL AND v_last.[Value] IS NOT NULL
    ORDER BY s.ShiftStart, s.ShiftNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTagTrend]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetTagTrend]
    @TagId INT,
    @DateFrom NVARCHAR(50),
    @DateTo NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;
    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo, 120);

    SELECT [Timestamp], [Value]
    FROM OPCData
    WHERE TagId = @TagId
      AND [Timestamp] BETWEEN @DateFromDT AND @DateToDT
    ORDER BY [Timestamp];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_BalanceReport_Compare]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Telegram_BalanceReport_Compare]
    @period_type NVARCHAR(10),       -- 'daily' | 'weekly' | 'monthly'
    @date_to DATE,                   -- дата конца (обычно GETDATE())
    @tag_ids NVARCHAR(MAX)           -- строка: '1,3,5'
AS
BEGIN
    SET NOCOUNT ON;

    -- Парсим теги
    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    -- Вычисляем даты периодов
    DECLARE @curr_start DATE, @curr_end DATE, @prev_start DATE, @prev_end DATE;

    IF @period_type = 'daily'
    BEGIN
        SET @curr_end   = @date_to;
        SET @curr_start = DATEADD(DAY, -1, @curr_end);
        SET @prev_end   = @curr_start;
        SET @prev_start = DATEADD(DAY, -1, @prev_end);
    END
    ELSE IF @period_type = 'weekly'
    BEGIN
        SET @curr_end   = @date_to;
        SET @curr_start = DATEADD(DAY, -6, @curr_end);  -- Неделя = 7 дней
        SET @prev_end   = DATEADD(DAY, -7, @curr_end);
        SET @prev_start = DATEADD(DAY, -6, @prev_end);
    END
    ELSE IF @period_type = 'monthly'
    BEGIN
        SET @curr_end   = @date_to;
        SET @curr_start = DATEADD(MONTH, -1, @curr_end);
        SET @prev_end   = @curr_start;
        SET @prev_start = DATEADD(MONTH, -1, @prev_end);
    END

    -- Считаем дельты по каждому тегу за текущий и предыдущий период
    ;WITH TagList AS (
        SELECT t.TagId, ot.BrowseName
        FROM @TagTable t
        JOIN OpcTags ot ON ot.Id = t.TagId
    ),
    CurrData AS (
        SELECT
            t.BrowseName AS TagName,
            MIN(od.Value) AS StartValue,
            MAX(od.Value) AS EndValue,
            MAX(od.Value) - MIN(od.Value) AS Delta
        FROM TagList t
        LEFT JOIN OpcData od ON od.TagId = t.TagId
            AND od.Timestamp >= @curr_start AND od.Timestamp < DATEADD(DAY, 1, @curr_end)
        GROUP BY t.BrowseName
    ),
    PrevData AS (
        SELECT
            t.BrowseName AS TagName,
            MIN(od.Value) AS StartValue,
            MAX(od.Value) AS EndValue,
            MAX(od.Value) - MIN(od.Value) AS Delta
        FROM TagList t
        LEFT JOIN OpcData od ON od.TagId = t.TagId
            AND od.Timestamp >= @prev_start AND od.Timestamp < DATEADD(DAY, 1, @prev_end)
        GROUP BY t.BrowseName
    )
    SELECT
        c.TagName,
        c.Delta AS CurrDelta,
        p.Delta AS PrevDelta,
        CASE 
            WHEN ISNULL(p.Delta,0) = 0 AND ISNULL(c.Delta,0) = 0 THEN 0
            WHEN ISNULL(p.Delta,0) = 0 THEN 100
            ELSE ROUND((ISNULL(c.Delta,0) - ISNULL(p.Delta,0)) * 100.0 / NULLIF(p.Delta,0), 1)
        END AS PercentChange
    FROM CurrData c
    LEFT JOIN PrevData p ON c.TagName = p.TagName
    ORDER BY c.TagName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_BalanceReport_Daily]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Telegram_BalanceReport_Daily]
    @date_from DATE,
    @date_to DATE,
    @tag_ids NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE English;

    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    ;WITH DateRange AS (
        SELECT @date_from AS [Date]
        UNION ALL
        SELECT DATEADD(DAY, 1, [Date]) FROM DateRange WHERE [Date] < @date_to
    ),
    TagList AS (
        SELECT t.TagId, ot.BrowseName
        FROM @TagTable t
        JOIN OpcTags ot ON ot.Id = t.TagId
    ),
    DailyData AS (
        SELECT 
            dr.[Date],
            t.BrowseName AS TagName,
            MIN(od.Value) AS StartValue,
            MAX(od.Value) AS EndValue,
            MAX(od.Value) - MIN(od.Value) AS Delta
        FROM DateRange dr
        CROSS JOIN TagList t
        LEFT JOIN OpcData od ON
            od.TagId = t.TagId
            AND CAST(od.Timestamp AS DATE) = dr.[Date]
        GROUP BY dr.[Date], t.TagId, t.BrowseName
    )
    SELECT 
        [Date],
        N'Сутки' AS [Смена],
        TagName,
        StartValue AS [Начало],
        EndValue AS [Конец],
        Delta AS [Прирост]
    FROM DailyData
    ORDER BY [Date], TagName
    OPTION (MAXRECURSION 1000);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_BalanceReport_Monthly]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Telegram_BalanceReport_Monthly]
    @date_from DATE,     -- Первый день месяца (например, '2025-07-01')
    @date_to DATE,       -- Последний день месяца (например, '2025-07-31')
    @tag_ids NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE English;

    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    SELECT 
        FORMAT(@date_from, 'yyyy-MM') AS [Период],
        ot.BrowseName AS [TagName],
        MIN(od.Value) AS [Начало],
        MAX(od.Value) AS [Конец],
        MAX(od.Value) - MIN(od.Value) AS [Прирост]
    FROM @TagTable t
    JOIN OpcTags ot ON ot.Id = t.TagId
    LEFT JOIN OpcData od ON od.TagId = t.TagId AND CAST(od.Timestamp AS DATE) BETWEEN @date_from AND @date_to
    GROUP BY ot.BrowseName
    ORDER BY ot.BrowseName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_BalanceReport_Shift]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Telegram_BalanceReport_Shift]
    @date_from DATE,
    @date_to DATE,
    @tag_ids NVARCHAR(MAX)  -- '1,3,5,7'
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE English;

    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    ;WITH DateRange AS (
        SELECT @date_from AS [Date]
        UNION ALL
        SELECT DATEADD(DAY, 1, [Date]) FROM DateRange WHERE [Date] < @date_to
    ),
    Shifts AS (
        SELECT 1 AS ShiftNo, N'Дневная' AS ShiftName, CAST('08:00:00' AS time) AS ShiftStart, CAST('19:59:59' AS time) AS ShiftEnd
        UNION ALL
        SELECT 2, N'Ночная', CAST('20:00:00' AS time), CAST('07:59:59' AS time)
    ),
    TagList AS (
        SELECT t.TagId, ot.BrowseName
        FROM @TagTable t
        JOIN OpcTags ot ON ot.Id = t.TagId
    ),
    ShiftData AS (
        SELECT 
            dr.[Date],
            s.ShiftNo,
            s.ShiftName,
            t.BrowseName AS TagName,
            MIN(od.Value) AS StartValue,
            MAX(od.Value) AS EndValue,
            MAX(od.Value) - MIN(od.Value) AS Delta
        FROM DateRange dr
        CROSS JOIN Shifts s
        CROSS JOIN TagList t
        LEFT JOIN OpcData od ON
            od.TagId = t.TagId
            AND (
                (s.ShiftNo = 1 AND CAST(od.Timestamp AS DATE) = dr.[Date] AND CAST(od.Timestamp AS time) BETWEEN s.ShiftStart AND s.ShiftEnd)
                OR
                (s.ShiftNo = 2 AND (
                    (CAST(od.Timestamp AS DATE) = dr.[Date] AND CAST(od.Timestamp AS time) BETWEEN s.ShiftStart AND CAST('23:59:59' AS time))
                    OR
                    (CAST(od.Timestamp AS DATE) = DATEADD(DAY, 1, dr.[Date]) AND CAST(od.Timestamp AS time) BETWEEN CAST('00:00:00' AS time) AND s.ShiftEnd)
                ))
            )
        GROUP BY dr.[Date], s.ShiftNo, s.ShiftName, t.TagId, t.BrowseName
    )
    SELECT 
        [Date],
        ShiftNo,
        ShiftName AS [Смена],
        TagName,
        StartValue AS [Начало],
        EndValue AS [Конец],
        Delta AS [Прирост]
    FROM ShiftData
    WHERE ShiftName IN (N'Дневная', N'Ночная')
    ORDER BY [Date], ShiftNo, TagName
    OPTION (MAXRECURSION 1000);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_BalanceReport_Weekly]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Telegram_BalanceReport_Weekly]
    @date_from DATE,
    @date_to DATE,
    @tag_ids NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE English;

    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    SELECT 
        CAST(@date_from AS VARCHAR(10)) + N' — ' + CAST(@date_to AS VARCHAR(10)) AS [Период],
        ot.BrowseName AS [TagName],
        MIN(od.Value) AS [Начало],
        MAX(od.Value) AS [Конец],
        MAX(od.Value) - MIN(od.Value) AS [Прирост]
    FROM @TagTable t
    JOIN OpcTags ot ON ot.Id = t.TagId
    LEFT JOIN OpcData od ON od.TagId = t.TagId AND CAST(od.Timestamp AS DATE) BETWEEN @date_from AND @date_to
    GROUP BY ot.BrowseName
    ORDER BY ot.BrowseName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_CurrentValues]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Telegram_CurrentValues]
    @TagIds NVARCHAR(MAX)  -- CSV: '33632,27,28'
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        t.Id        AS TagId,
        t.BrowseName AS TagName,
        t.Description,
        d.[Timestamp],
        CAST(d.Value AS FLOAT) AS Value
    FROM dbo.OpcTags t
    OUTER APPLY (
        SELECT TOP 1 d.Value, d.[Timestamp]
        FROM dbo.OpcData d WITH (NOLOCK)
        WHERE d.TagId = t.Id
        ORDER BY d.[Timestamp] DESC
    ) d
    WHERE t.Id IN (SELECT TRY_CAST(value AS INT) FROM STRING_SPLIT(@TagIds, ','))
    ORDER BY t.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_LineChart]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Telegram_LineChart]
    @date_from     NVARCHAR(50),
    @date_to       NVARCHAR(50),
    @tag_ids       NVARCHAR(MAX),     -- '1,3,5'
    @step_minutes  INT           = 1, -- 1..1440
    @agg           NVARCHAR(8)   = N'AVG', -- AVG|MIN|MAX|LAST
    @fill_gaps     BIT           = 1
AS
BEGIN
    SET NOCOUNT ON; SET LANGUAGE English;

    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @date_from, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @date_to,   120);
    IF @DateFromDT IS NULL OR @DateToDT IS NULL OR @DateToDT <= @DateFromDT
    BEGIN RAISERROR(N'Invalid date range',16,1); RETURN; END

    IF @step_minutes IS NULL OR @step_minutes < 1 OR @step_minutes > 1440 SET @step_minutes = 1;
    SET @agg = UPPER(@agg);
    IF @agg NOT IN (N'AVG',N'MIN',N'MAX',N'LAST') SET @agg = N'AVG';

    DECLARE @TagList TABLE (TagId INT PRIMARY KEY, TagName NVARCHAR(200));
    INSERT INTO @TagList(TagId, TagName)
    SELECT t.Id, t.BrowseName
    FROM dbo.OpcTags t
    JOIN (SELECT TRY_CAST(value AS INT) AS TagId FROM STRING_SPLIT(@tag_ids, ',')) s
      ON s.TagId = t.Id;

    IF NOT EXISTS(SELECT 1 FROM @TagList) BEGIN RAISERROR(N'Empty @tag_ids',16,1); RETURN; END

    DECLARE @epoch DATETIME = '2000-01-01T00:00:00';
    DECLARE @BucketStart DATETIME = DATEADD(MINUTE,
        (DATEDIFF(MINUTE,@epoch,@DateFromDT)/@step_minutes)*@step_minutes, @epoch);

    DECLARE @Buckets TABLE (StartTs DATETIME PRIMARY KEY);
    DECLARE @ts DATETIME = @BucketStart;
    WHILE @ts < @DateToDT
    BEGIN
        INSERT INTO @Buckets(StartTs) VALUES(@ts);
        SET @ts = DATEADD(MINUTE, @step_minutes, @ts);
    END

    ;WITH Raw AS (
        SELECT d.TagId,
               DATEADD(MINUTE,(DATEDIFF(MINUTE,@epoch,d.[Timestamp])/@step_minutes)*@step_minutes,@epoch) AS Bkt,
               d.[Timestamp],
               TRY_CAST(d.[Value] AS FLOAT) AS [Value]
        FROM dbo.OpcData d WITH (NOLOCK)
        JOIN @TagList t ON t.TagId = d.TagId
        WHERE d.[Timestamp] >= @DateFromDT AND d.[Timestamp] < @DateToDT
    ),
    Agg AS (
        SELECT r.TagId, r.Bkt,
               AVG(r.[Value]) AS AvgVal,
               MIN(r.[Value]) AS MinVal,
               MAX(r.[Value]) AS MaxVal
        FROM Raw r
        GROUP BY r.TagId, r.Bkt
    ),
    LastVal AS (
        SELECT x.TagId, x.Bkt, x.[Value] AS LastVal
        FROM (
            SELECT r.TagId, r.Bkt, r.[Value],
                   ROW_NUMBER() OVER (PARTITION BY r.TagId, r.Bkt ORDER BY r.[Timestamp] DESC) AS rn
            FROM Raw r
        ) x
        WHERE x.rn = 1
    )
    SELECT
        b.StartTs AS ts,
        tl.TagId  AS tag_id,
        tl.TagName AS tag_name,
        CASE @agg
            WHEN N'MIN'  THEN a.MinVal
            WHEN N'MAX'  THEN a.MaxVal
            WHEN N'LAST' THEN l.LastVal
            ELSE a.AvgVal
        END AS value
    FROM @Buckets b
    CROSS JOIN @TagList tl
    LEFT JOIN Agg a ON a.TagId = tl.TagId AND a.Bkt = b.StartTs
    LEFT JOIN LastVal l ON l.TagId = tl.TagId AND l.Bkt = b.StartTs
    WHERE (@fill_gaps = 1)
       OR (@fill_gaps = 0 AND (
            (@agg IN (N'AVG',N'MIN',N'MAX') AND a.AvgVal IS NOT NULL) OR
            (@agg = N'LAST' AND l.LastVal IS NOT NULL)
          ))
    ORDER BY ts, tag_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_TagValues_MultiAgg]    Script Date: 06.11.2025 12:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Telegram_TagValues_MultiAgg]
    @DateFrom     NVARCHAR(50),
    @DateTo       NVARCHAR(50),
    @TagsJson     NVARCHAR(MAX), -- [{"tag_id":1,"aggregates":["AVG","MIN","MAX","CURR"],"avg_seconds":10}]
    @GroupType    NVARCHAR(10) = N'hour',  -- hour|day|shift|raw
    @FillGaps     BIT = 1,                 -- для hour/day/shift
    @AvgSeconds   INT = NULL               -- для raw: окно сглаживания в секундах
AS
BEGIN
    SET NOCOUNT ON; SET LANGUAGE English;

    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo,   120);

    IF OBJECT_ID('tempdb..#TagAggs') IS NOT NULL DROP TABLE #TagAggs;
    SELECT
        TRY_CAST(j.tag_id AS INT)          AS tag_id,
        a.aggregate                         AS aggregate,
        TRY_CAST(j.avg_seconds AS INT)      AS avg_seconds
    INTO #TagAggs
    FROM OPENJSON(@TagsJson)
      WITH (
        tag_id      INT           '$.tag_id',
        aggregates  NVARCHAR(MAX) '$.aggregates' AS JSON,
        avg_seconds INT           '$.avg_seconds'
      ) j
    CROSS APPLY OPENJSON(j.aggregates) WITH (aggregate NVARCHAR(10) '$') a;

    /* ---------- RAW режим (деталь + опц. сглаживание @AvgSeconds) ---------- */
    IF @GroupType = N'raw'
    BEGIN
        IF OBJECT_ID('tempdb..#Raw') IS NOT NULL DROP TABLE #Raw;
        SELECT
            d.TagId,
            t.BrowseName AS TagName,
            d.[Timestamp],
            TRY_CAST(d.[Value] AS FLOAT) AS Val
        INTO #Raw
        FROM dbo.OpcData d WITH (NOLOCK)
        JOIN dbo.OpcTags t ON t.Id = d.TagId
        WHERE d.[Timestamp] >= @DateFromDT AND d.[Timestamp] < @DateToDT
          AND EXISTS (SELECT 1 FROM #TagAggs ta WHERE ta.tag_id = d.TagId);

        IF @AvgSeconds IS NULL OR @AvgSeconds <= 1
        BEGIN
            SELECT
                CONVERT(varchar(19), r.[Timestamp], 120) AS [Period],
                r.TagId,
                r.TagName,
                N'CURR' AS Aggregate,
                r.Val   AS [Value]
            FROM #Raw r
            ORDER BY r.TagId, r.[Timestamp];
        END
        ELSE
        BEGIN
            SELECT
                CONVERT(varchar(19), r.[Timestamp], 120) AS [Period],
                r.TagId,
                r.TagName,
                N'CURR' AS Aggregate,
                ca.AVal AS [Value]
            FROM #Raw r
            CROSS APPLY (
                SELECT AVG(r2.Val) AS AVal
                FROM #Raw r2
                WHERE r2.TagId = r.TagId
                  AND r2.[Timestamp] >  DATEADD(SECOND, -@AvgSeconds, r.[Timestamp])
                  AND r2.[Timestamp] <= r.[Timestamp]
            ) ca
            ORDER BY r.TagId, r.[Timestamp];
        END

        DROP TABLE IF EXISTS #Raw;
        RETURN;
    END
    /* ---------- hour/day/shift агрегаты ---------- */
    DECLARE @parts TABLE (SqlPart NVARCHAR(MAX));
    DECLARE @TagId INT, @Agg NVARCHAR(10), @part NVARCHAR(MAX);

    DECLARE c CURSOR LOCAL FAST_FORWARD FOR
        SELECT tag_id, aggregate FROM #TagAggs;
    OPEN c; FETCH NEXT FROM c INTO @TagId, @Agg;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @part = N'
        SELECT ' + CASE
            WHEN @GroupType = N'hour'  THEN N'FORMAT(d.[Timestamp], ''yyyy-MM-dd HH:00'')'
            WHEN @GroupType = N'day'   THEN N'FORMAT(d.[Timestamp], ''yyyy-MM-dd'')'
            WHEN @GroupType = N'shift' THEN N'FORMAT(DATEADD(HOUR, DATEDIFF(HOUR,0,d.[Timestamp]) / 12 * 12, 0), ''yyyy-MM-dd HH:00'')'
            ELSE N'FORMAT(d.[Timestamp], ''yyyy-MM-dd HH:mm'')'
        END + N' AS [Period],
                d.TagId,
                t.BrowseName AS TagName,
                N''' + @Agg + N''' AS Aggregate,
                ' + CASE
                    WHEN @Agg = N'AVG' THEN N'AVG(CAST(d.[Value] AS FLOAT))'
                    WHEN @Agg = N'MIN' THEN N'MIN(CAST(d.[Value] AS FLOAT))'
                    WHEN @Agg = N'MAX' THEN N'MAX(CAST(d.[Value] AS FLOAT))'
                    WHEN @Agg = N'CURR' THEN N'(SELECT TOP 1 CAST(Value AS FLOAT)
                                                FROM dbo.OpcData
                                                WHERE TagId = d.TagId AND [Timestamp] <= MAX(d.[Timestamp])
                                                ORDER BY [Timestamp] DESC)'
                    ELSE N'AVG(CAST(d.[Value] AS FLOAT))'
                END + N' AS [Value]
         FROM dbo.OpcData d WITH (NOLOCK)
         JOIN dbo.OpcTags t ON t.Id = d.TagId
         WHERE d.TagId = ' + CAST(@TagId AS NVARCHAR(20)) + N'
           AND d.[Timestamp] >= @DateFromDT AND d.[Timestamp] < @DateToDT
         GROUP BY ' + CASE
            WHEN @GroupType = N'hour'  THEN N'FORMAT(d.[Timestamp], ''yyyy-MM-dd HH:00''), d.TagId, t.BrowseName'
            WHEN @GroupType = N'day'   THEN N'FORMAT(d.[Timestamp], ''yyyy-MM-dd''), d.TagId, t.BrowseName'
            WHEN @GroupType = N'shift' THEN N'FORMAT(DATEADD(HOUR, DATEDIFF(HOUR,0,d.[Timestamp]) / 12 * 12, 0), ''yyyy-MM-dd HH:00''), d.TagId, t.BrowseName'
            ELSE N'FORMAT(d.[Timestamp], ''yyyy-MM-dd HH:mm''), d.TagId, t.BrowseName'
        END;

        INSERT INTO @parts(SqlPart) VALUES (@part);
        FETCH NEXT FROM c INTO @TagId, @Agg;
    END
    CLOSE c; DEALLOCATE c;

    DECLARE @sql NVARCHAR(MAX) =
        (SELECT STRING_AGG(SqlPart, N' UNION ALL ') FROM @parts);

    IF @sql IS NOT NULL AND LEN(@sql) > 0
        EXEC sp_executesql @sql,
            N'@DateFromDT DATETIME, @DateToDT DATETIME',
            @DateFromDT=@DateFromDT, @DateToDT=@DateToDT;

    DROP TABLE IF EXISTS #TagAggs;
END
GO
USE [master]
GO
