USE [master]
GO
/****** Object:  Database [AltaiMaiLab]    Script Date: 10.12.2025 0:09:58 ******/
CREATE DATABASE [AltaiMaiLab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AltaiMaiLab', FILENAME = N'E:\OpcUaSystem\AltaiMaiLab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AltaiMaiLab_log', FILENAME = N'E:\OpcUaSystem\AltaiMaiLab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AltaiMaiLab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AltaiMaiLab]
GO
/****** Object:  Schema [Lab]    Script Date: 10.12.2025 0:09:58 ******/
CREATE SCHEMA [Lab]
GO
/****** Object:  Table [Lab].[Products]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Lab].[SamplePoints]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[SamplePoints](
	[SamplePointID] [int] IDENTITY(1,1) NOT NULL,
	[PointName] [nvarchar](200) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FrequencyHours] [int] NULL,
	[ProductID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SamplePointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [Lab].[vPointProducts]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Lab].[vPointProducts] AS
SELECT 
   sp.SamplePointID,
   sp.PointName,
   p.ProductID,
   p.ProductName
FROM Lab.SamplePoints sp
JOIN Lab.Products p ON p.ProductName = sp.Description;
GO
/****** Object:  Table [Lab].[Analyses]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Analyses](
	[AnalysisID] [int] IDENTITY(1,1) NOT NULL,
	[AnalysisName] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[ResultType] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[StandardID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnalysisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Lab].[AnalysisNorms]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[AnalysisNorms](
	[NormID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[AnalysisID] [int] NOT NULL,
	[MinValue] [float] NULL,
	[MaxValue] [float] NULL,
	[AllowedText] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[NormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[Standards]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Standards](
	[StandardID] [int] IDENTITY(1,1) NOT NULL,
	[StandardName] [nvarchar](200) NOT NULL,
	[FileName] [nvarchar](500) NULL,
	[FileID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[StandardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[Departments]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [Lab].[v_FullMatrix]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [Lab].[v_FullMatrix] AS
SELECT 
    D.DepartmentName,
    SP.SamplePointID,
    SP.PointName,
    SP.FrequencyHours,

    -- PRODUCT
    P.ProductID,
    P.ProductName,

    -- ANALYSIS + NORMS
    A.AnalysisID,
    A.AnalysisName,
    A.Unit,
    A.ResultType,
    AN.MinValue,
    AN.MaxValue,
    AN.AllowedText,

    -- STANDARD
    S.StandardName AS StandardName

FROM Lab.SamplePoints SP
JOIN Lab.Departments D 
      ON D.DepartmentID = SP.DepartmentID
LEFT JOIN Lab.Products P
      ON P.ProductID = SP.ProductID
LEFT JOIN Lab.AnalysisNorms AN
      ON AN.ProductID = P.ProductID
LEFT JOIN Lab.Analyses A
      ON A.AnalysisID = AN.AnalysisID
LEFT JOIN Lab.Standards S
      ON S.StandardID = A.StandardID;
GO
/****** Object:  Table [Lab].[AnalysisMethods]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[AnalysisMethods](
	[MethodID] [int] IDENTITY(1,1) NOT NULL,
	[AnalysisID] [int] NOT NULL,
	[StandardID] [int] NULL,
	[FormulaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[AnalysisQualitativeOptions]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[AnalysisQualitativeOptions](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[AnalysisID] [int] NOT NULL,
	[OptionValue] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[AnalysisReagents]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[AnalysisReagents](
	[ARID] [int] IDENTITY(1,1) NOT NULL,
	[AnalysisID] [int] NOT NULL,
	[ReagentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ARID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[AuditTrail]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[AuditTrail](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[RecordID] [int] NOT NULL,
	[FieldName] [nvarchar](100) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[ChangedBy] [nvarchar](200) NOT NULL,
	[ChangedAt] [datetime] NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Lab].[Formulas]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Formulas](
	[FormulaID] [int] IDENTITY(1,1) NOT NULL,
	[FormulaName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Expression] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FormulaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Lab].[Reagents]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Reagents](
	[ReagentID] [int] IDENTITY(1,1) NOT NULL,
	[ReagentName] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[StockQty] [float] NOT NULL,
	[ReorderThreshold] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReagentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[SampleResults]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[SampleResults](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[SampleID] [int] NOT NULL,
	[AnalysisID] [int] NOT NULL,
	[ValueNumeric] [float] NULL,
	[ValueText] [nvarchar](200) NULL,
	[OptionID] [int] NULL,
	[IsOk] [bit] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[LockedAt] [datetime] NULL,
	[LockedBy] [nvarchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Lab].[Samples]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Samples](
	[SampleID] [int] IDENTITY(1,1) NOT NULL,
	[SampleDate] [datetime] NOT NULL,
	[SamplePointID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[OperatorName] [nvarchar](200) NULL,
	[BatchNumber] [nvarchar](200) NULL,
	[SampleUID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SampleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Lab].[Analyses] ADD  DEFAULT ('NUMERIC') FOR [ResultType]
GO
ALTER TABLE [Lab].[AuditTrail] ADD  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [Lab].[Reagents] ADD  DEFAULT ((0)) FOR [StockQty]
GO
ALTER TABLE [Lab].[Reagents] ADD  DEFAULT ((0)) FOR [ReorderThreshold]
GO
ALTER TABLE [Lab].[SampleResults] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Lab].[SampleResults] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [Lab].[SampleResults] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [Lab].[Samples] ADD  DEFAULT (getdate()) FOR [SampleDate]
GO
ALTER TABLE [Lab].[Analyses]  WITH CHECK ADD  CONSTRAINT [FK_Analyses_Standards] FOREIGN KEY([StandardID])
REFERENCES [Lab].[Standards] ([StandardID])
GO
ALTER TABLE [Lab].[Analyses] CHECK CONSTRAINT [FK_Analyses_Standards]
GO
ALTER TABLE [Lab].[AnalysisMethods]  WITH CHECK ADD  CONSTRAINT [FK_AM_Analysis] FOREIGN KEY([AnalysisID])
REFERENCES [Lab].[Analyses] ([AnalysisID])
GO
ALTER TABLE [Lab].[AnalysisMethods] CHECK CONSTRAINT [FK_AM_Analysis]
GO
ALTER TABLE [Lab].[AnalysisMethods]  WITH CHECK ADD  CONSTRAINT [FK_AM_Formula] FOREIGN KEY([FormulaID])
REFERENCES [Lab].[Formulas] ([FormulaID])
GO
ALTER TABLE [Lab].[AnalysisMethods] CHECK CONSTRAINT [FK_AM_Formula]
GO
ALTER TABLE [Lab].[AnalysisMethods]  WITH CHECK ADD  CONSTRAINT [FK_AM_Standard] FOREIGN KEY([StandardID])
REFERENCES [Lab].[Standards] ([StandardID])
GO
ALTER TABLE [Lab].[AnalysisMethods] CHECK CONSTRAINT [FK_AM_Standard]
GO
ALTER TABLE [Lab].[AnalysisNorms]  WITH CHECK ADD  CONSTRAINT [FK_Norms_Analyses] FOREIGN KEY([AnalysisID])
REFERENCES [Lab].[Analyses] ([AnalysisID])
GO
ALTER TABLE [Lab].[AnalysisNorms] CHECK CONSTRAINT [FK_Norms_Analyses]
GO
ALTER TABLE [Lab].[AnalysisNorms]  WITH CHECK ADD  CONSTRAINT [FK_Norms_Products] FOREIGN KEY([ProductID])
REFERENCES [Lab].[Products] ([ProductID])
GO
ALTER TABLE [Lab].[AnalysisNorms] CHECK CONSTRAINT [FK_Norms_Products]
GO
ALTER TABLE [Lab].[AnalysisQualitativeOptions]  WITH CHECK ADD  CONSTRAINT [FK_AQO_Analysis] FOREIGN KEY([AnalysisID])
REFERENCES [Lab].[Analyses] ([AnalysisID])
GO
ALTER TABLE [Lab].[AnalysisQualitativeOptions] CHECK CONSTRAINT [FK_AQO_Analysis]
GO
ALTER TABLE [Lab].[AnalysisReagents]  WITH CHECK ADD  CONSTRAINT [FK_AR_Analyses] FOREIGN KEY([AnalysisID])
REFERENCES [Lab].[Analyses] ([AnalysisID])
GO
ALTER TABLE [Lab].[AnalysisReagents] CHECK CONSTRAINT [FK_AR_Analyses]
GO
ALTER TABLE [Lab].[AnalysisReagents]  WITH CHECK ADD  CONSTRAINT [FK_AR_Reagents] FOREIGN KEY([ReagentID])
REFERENCES [Lab].[Reagents] ([ReagentID])
GO
ALTER TABLE [Lab].[AnalysisReagents] CHECK CONSTRAINT [FK_AR_Reagents]
GO
ALTER TABLE [Lab].[SamplePoints]  WITH CHECK ADD  CONSTRAINT [FK_SamplePoints_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [Lab].[Departments] ([DepartmentID])
GO
ALTER TABLE [Lab].[SamplePoints] CHECK CONSTRAINT [FK_SamplePoints_Departments]
GO
ALTER TABLE [Lab].[SamplePoints]  WITH CHECK ADD  CONSTRAINT [FK_SamplePoints_Products] FOREIGN KEY([ProductID])
REFERENCES [Lab].[Products] ([ProductID])
GO
ALTER TABLE [Lab].[SamplePoints] CHECK CONSTRAINT [FK_SamplePoints_Products]
GO
ALTER TABLE [Lab].[SampleResults]  WITH CHECK ADD  CONSTRAINT [FK_SR_Analyses] FOREIGN KEY([AnalysisID])
REFERENCES [Lab].[Analyses] ([AnalysisID])
GO
ALTER TABLE [Lab].[SampleResults] CHECK CONSTRAINT [FK_SR_Analyses]
GO
ALTER TABLE [Lab].[SampleResults]  WITH CHECK ADD  CONSTRAINT [FK_SR_Option] FOREIGN KEY([OptionID])
REFERENCES [Lab].[AnalysisQualitativeOptions] ([OptionID])
GO
ALTER TABLE [Lab].[SampleResults] CHECK CONSTRAINT [FK_SR_Option]
GO
ALTER TABLE [Lab].[SampleResults]  WITH CHECK ADD  CONSTRAINT [FK_SR_Samples] FOREIGN KEY([SampleID])
REFERENCES [Lab].[Samples] ([SampleID])
GO
ALTER TABLE [Lab].[SampleResults] CHECK CONSTRAINT [FK_SR_Samples]
GO
ALTER TABLE [Lab].[Samples]  WITH CHECK ADD  CONSTRAINT [FK_Samples_Points] FOREIGN KEY([SamplePointID])
REFERENCES [Lab].[SamplePoints] ([SamplePointID])
GO
ALTER TABLE [Lab].[Samples] CHECK CONSTRAINT [FK_Samples_Points]
GO
ALTER TABLE [Lab].[Samples]  WITH CHECK ADD  CONSTRAINT [FK_Samples_Products] FOREIGN KEY([ProductID])
REFERENCES [Lab].[Products] ([ProductID])
GO
ALTER TABLE [Lab].[Samples] CHECK CONSTRAINT [FK_Samples_Products]
GO
/****** Object:  StoredProcedure [Lab].[AddAnalysis]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* ============================================================
   4. ANALYSES
   ============================================================ */

CREATE   PROCEDURE [Lab].[AddAnalysis]
    @AnalysisName NVARCHAR(200),
    @Unit NVARCHAR(50) = NULL,
    @ResultType NVARCHAR(20) = 'NUMERIC',
    @Notes NVARCHAR(MAX) = NULL,
    @StandardID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Lab.Analyses (AnalysisName, Unit, ResultType, Notes, StandardID)
    VALUES (@AnalysisName, @Unit, @ResultType, @Notes, @StandardID);

    SELECT SCOPE_IDENTITY() AS AnalysisID;
END;
GO
/****** Object:  StoredProcedure [Lab].[AddAnalysisMethod]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* ============================================================
   6. ANALYSIS METHODS
   ============================================================ */

CREATE   PROCEDURE [Lab].[AddAnalysisMethod]
    @AnalysisID INT,
    @StandardID INT = NULL,
    @FormulaID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Lab.AnalysisMethods (AnalysisID, StandardID, FormulaID)
    VALUES (@AnalysisID, @StandardID, @FormulaID);

    SELECT SCOPE_IDENTITY() AS MethodID;
END;
GO
/****** Object:  StoredProcedure [Lab].[AddAnalysisNorm]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   1. ANALYSIS NORMS
   ============================================================ */

CREATE   PROCEDURE [Lab].[AddAnalysisNorm]
    @ProductID INT,
    @AnalysisID INT,
    @MinValue FLOAT = NULL,
    @MaxValue FLOAT = NULL,
    @AllowedText NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Lab.AnalysisNorms (ProductID, AnalysisID, MinValue, MaxValue, AllowedText)
    VALUES (@ProductID, @AnalysisID, @MinValue, @MaxValue, @AllowedText);

    SELECT SCOPE_IDENTITY() AS NormID;
END;
GO
/****** Object:  StoredProcedure [Lab].[AddAnalysisReagent]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* ============================================================
   4. ANALYSIS → REAGENTS MAPPING
   ============================================================ */

CREATE   PROCEDURE [Lab].[AddAnalysisReagent]
    @AnalysisID INT,
    @ReagentID INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Lab.AnalysisReagents (AnalysisID, ReagentID)
    VALUES (@AnalysisID, @ReagentID);

    SELECT SCOPE_IDENTITY() AS ARID;
END;
GO
/****** Object:  StoredProcedure [Lab].[AddDepartment]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   1. DEPARTMENTS
   ============================================================ */

CREATE   PROCEDURE [Lab].[AddDepartment]
    @DepartmentName NVARCHAR(200),
    @Description NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Lab.Departments (DepartmentName, Description)
    VALUES (@DepartmentName, @Description);

    SELECT SCOPE_IDENTITY() AS DepartmentID;
END;
GO
/****** Object:  StoredProcedure [Lab].[AddExtraAnalysisToSample]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Lab].[AddExtraAnalysisToSample]
    @SampleID INT,
    @AnalysisID INT
AS
BEGIN
    IF EXISTS(SELECT 1 FROM Lab.SampleResults WHERE SampleID=@SampleID AND AnalysisID=@AnalysisID)
        RETURN; -- уже есть
    
    INSERT INTO Lab.SampleResults (SampleID, AnalysisID)
    VALUES (@SampleID, @AnalysisID);
END;
GO
/****** Object:  StoredProcedure [Lab].[AddFormula]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* ============================================================
   5. FORMULAS
   ============================================================ */

CREATE   PROCEDURE [Lab].[AddFormula]
    @FormulaName NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Expression NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Lab.Formulas (FormulaName, Description, Expression)
    VALUES (@FormulaName, @Description, @Expression);

    SELECT SCOPE_IDENTITY() AS FormulaID;
END;
GO
/****** Object:  StoredProcedure [Lab].[AddProduct]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* ============================================================
   2. PRODUCTS
   ============================================================ */

CREATE   PROCEDURE [Lab].[AddProduct]
    @ProductName NVARCHAR(200),
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Lab.Products (ProductName, Notes)
    VALUES (@ProductName, @Notes);

    SELECT SCOPE_IDENTITY() AS ProductID;
END;
GO
/****** Object:  StoredProcedure [Lab].[AddQualitativeOption]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* ============================================================
   2. QUALITATIVE OPTIONS (TEXT OPTIONS)
   ============================================================ */

CREATE   PROCEDURE [Lab].[AddQualitativeOption]
    @AnalysisID INT,
    @OptionValue NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Lab.AnalysisQualitativeOptions (AnalysisID, OptionValue)
    VALUES (@AnalysisID, @OptionValue);

    SELECT SCOPE_IDENTITY() AS OptionID;
END;
GO
/****** Object:  StoredProcedure [Lab].[AddReagent]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* ============================================================
   3. REAGENTS
   ============================================================ */

CREATE   PROCEDURE [Lab].[AddReagent]
    @ReagentName NVARCHAR(200),
    @Unit NVARCHAR(50),
    @StockQty FLOAT = 0,
    @ReorderThreshold FLOAT = 0
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Lab.Reagents (ReagentName, Unit, StockQty, ReorderThreshold)
    VALUES (@ReagentName, @Unit, @StockQty, @ReorderThreshold);

    SELECT SCOPE_IDENTITY() AS ReagentID;
END;
GO
/****** Object:  StoredProcedure [Lab].[AddSamplePoint]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* ============================================================
   5. SAMPLE POINTS
   ============================================================ */

CREATE   PROCEDURE [Lab].[AddSamplePoint]
    @PointName NVARCHAR(200),
    @DepartmentID INT,
    @ProductID INT,
    @Description NVARCHAR(MAX) = NULL,
    @FrequencyHours INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Lab.SamplePoints (PointName, DepartmentID, ProductID, Description, FrequencyHours)
    VALUES (@PointName, @DepartmentID, @ProductID, @Description, @FrequencyHours);

    SELECT SCOPE_IDENTITY() AS SamplePointID;
END;
GO
/****** Object:  StoredProcedure [Lab].[AddSampleResult]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Lab].[AddSampleResult]
    @SampleID INT,
    @AnalysisID INT,
    @ValueNumeric FLOAT = NULL,
    @ValueText NVARCHAR(200) = NULL,
    @Comment NVARCHAR(MAX) = NULL,
    @UserName NVARCHAR(200)
AS
BEGIN
    -- Проверка: если уже есть заблокированный результат → запрещаем
    IF EXISTS (
        SELECT 1 FROM Lab.SampleResults 
        WHERE SampleID = @SampleID AND AnalysisID = @AnalysisID AND IsLocked = 1
    )
    BEGIN
        RAISERROR('Результат уже заблокирован и не может быть изменён.', 16, 1);
        RETURN;
    END

    DECLARE @ProductID INT;
    SELECT @ProductID = ProductID FROM Lab.Samples WHERE SampleID = @SampleID;

    DECLARE @MinValue FLOAT, @MaxValue FLOAT, @AllowedText NVARCHAR(200), @ResultType NVARCHAR(20);
    DECLARE @IsOk BIT = NULL;

    SELECT @MinValue = MinValue, @MaxValue = MaxValue, @AllowedText = AllowedText
    FROM Lab.AnalysisNorms
    WHERE ProductID = @ProductID AND AnalysisID = @AnalysisID;

    SELECT @ResultType = ResultType
    FROM Lab.Analyses WHERE AnalysisID = @AnalysisID;

    IF @ResultType = 'NUMERIC'
        SET @IsOk = CASE WHEN @ValueNumeric BETWEEN @MinValue AND @MaxValue THEN 1 ELSE 0 END;

    IF @ResultType = 'TEXT'
        SET @IsOk = CASE WHEN @ValueText = @AllowedText THEN 1 ELSE 0 END;

    -- Проверяем, есть ли строка
    DECLARE @ExistingID INT;
    SELECT @ExistingID = ResultID 
    FROM Lab.SampleResults 
    WHERE SampleID = @SampleID AND AnalysisID = @AnalysisID;

    IF @ExistingID IS NULL
    BEGIN
        -- Вставка
        INSERT INTO Lab.SampleResults
        (SampleID, AnalysisID, ValueNumeric, ValueText, IsOk, Comment, IsLocked, LockedAt, LockedBy)
        VALUES
        (@SampleID, @AnalysisID, @ValueNumeric, @ValueText, @IsOk, @Comment, 1, GETDATE(), @UserName);

        SET @ExistingID = SCOPE_IDENTITY();

        EXEC Lab.WriteAudit 'SampleResults', @ExistingID, 'INSERT', '', '', @UserName, 'INSERT';
    END
    ELSE
    BEGIN
        -- Обновление (разрешено только если не заблокировано)
        UPDATE Lab.SampleResults
        SET ValueNumeric = @ValueNumeric,
            ValueText = @ValueText,
            IsOk = @IsOk,
            Comment = @Comment,
            IsLocked = 1,
            LockedAt = GETDATE(),
            LockedBy = @UserName
        WHERE ResultID = @ExistingID;

        EXEC Lab.WriteAudit 'SampleResults', @ExistingID, 'UPDATE', '', '', @UserName, 'UPDATE';
    END

    SELECT @ExistingID AS ResultID;
END;
GO
/****** Object:  StoredProcedure [Lab].[AddStandard]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* ============================================================
   3. STANDARDS (ГОСТ / Методика)
   ============================================================ */

CREATE   PROCEDURE [Lab].[AddStandard]
    @StandardName NVARCHAR(200),
    @FileName NVARCHAR(500) = NULL,
    @FileID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Lab.Standards (StandardName, FileName, FileID)
    VALUES (@StandardName, @FileName, @FileID);

    SELECT SCOPE_IDENTITY() AS StandardID;
END;
GO
/****** Object:  StoredProcedure [Lab].[BulkUpdateSampleResults]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Lab].[BulkUpdateSampleResults]
    @Json NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @data TABLE (
        ResultID INT,
        ValueNumeric FLOAT,
        ValueText NVARCHAR(200),
        Comment NVARCHAR(MAX)
    );

    INSERT INTO @data (ResultID, ValueNumeric, ValueText, Comment)
    SELECT 
        ResultID,
        ValueNumeric,
        ValueText,
        Comment
    FROM OPENJSON(@Json)
    WITH (
        ResultID INT,
        ValueNumeric FLOAT,
        ValueText NVARCHAR(200),
        Comment NVARCHAR(MAX)
    );

    DECLARE @ResultID INT;

    DECLARE cur CURSOR FOR SELECT ResultID FROM @data;
    OPEN cur;

    FETCH NEXT FROM cur INTO @ResultID;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE @ValueNumeric FLOAT, @ValueText NVARCHAR(200), @Comment NVARCHAR(MAX);

        SELECT 
            @ValueNumeric = ValueNumeric,
            @ValueText = ValueText,
            @Comment = Comment
        FROM @data WHERE ResultID = @ResultID;

        EXEC Lab.UpdateSampleResult 
            @ResultID = @ResultID,
            @ValueNumeric = @ValueNumeric,
            @ValueText = @ValueText,
            @Comment = @Comment;

        FETCH NEXT FROM cur INTO @ResultID;
    END;

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
/****** Object:  StoredProcedure [Lab].[CreateSample]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Lab].[CreateSample]
    @SamplePointID INT,
    @OperatorName NVARCHAR(200) = NULL,
    @BatchNumber NVARCHAR(200) = NULL
AS
BEGIN
    DECLARE @ProductID INT;
    SELECT @ProductID = ProductID FROM Lab.SamplePoints WHERE SamplePointID = @SamplePointID;

    INSERT INTO Lab.Samples (SampleDate, SamplePointID, ProductID, OperatorName, BatchNumber)
    VALUES (GETDATE(), @SamplePointID, @ProductID, @OperatorName, @BatchNumber);

    DECLARE @SampleID INT = SCOPE_IDENTITY();

    -- Генерация уникального SampleUID
    DECLARE @uid NVARCHAR(100) =
        CONCAT('SP', @SamplePointID, '-', CONVERT(CHAR(8), GETDATE(), 112), '-',
               RIGHT('000' + CAST(@SampleID AS VARCHAR(10)), 3));

    UPDATE Lab.Samples SET SampleUID = @uid WHERE SampleID = @SampleID;

    SELECT @SampleID AS SampleID, @uid AS SampleUID;
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteAnalysis]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[DeleteAnalysis]
    @AnalysisID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM Lab.AnalysisNorms WHERE AnalysisID = @AnalysisID)
        OR EXISTS(SELECT 1 FROM Lab.SampleResults WHERE AnalysisID = @AnalysisID)
    BEGIN
        RAISERROR('Удаление невозможно — анализ используется в нормах или результатах.', 16, 1);
        RETURN;
    END;

    DELETE FROM Lab.Analyses WHERE AnalysisID = @AnalysisID;
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteAnalysisMethod]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[DeleteAnalysisMethod]
    @MethodID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Lab.AnalysisMethods WHERE MethodID = @MethodID;
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteAnalysisNorm]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[DeleteAnalysisNorm]
    @NormID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM Lab.SampleResults SR
              JOIN Lab.AnalysisNorms N ON SR.AnalysisID = N.AnalysisID
              WHERE N.NormID = @NormID)
    BEGIN
        RAISERROR('Нельзя удалить норму — существуют результаты, ссылающиеся на этот анализ.', 16, 1);
        RETURN;
    END;

    DELETE FROM Lab.AnalysisNorms WHERE NormID = @NormID;
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteAnalysisReagent]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[DeleteAnalysisReagent]
    @ARID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Lab.AnalysisReagents WHERE ARID = @ARID;
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteDepartment]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[DeleteDepartment]
    @DepartmentID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM Lab.SamplePoints WHERE DepartmentID = @DepartmentID)
    BEGIN
        RAISERROR('Нельзя удалить цех — есть связанные точки отбора проб.', 16, 1);
        RETURN;
    END;

    DELETE FROM Lab.Departments WHERE DepartmentID = @DepartmentID;
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteFormula]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[DeleteFormula]
    @FormulaID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM Lab.AnalysisMethods WHERE FormulaID = @FormulaID)
    BEGIN
        RAISERROR('Нельзя удалить формулу — она используется в методиках.', 16, 1);
        RETURN;
    END;

    DELETE FROM Lab.Formulas WHERE FormulaID = @FormulaID;
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteProduct]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[DeleteProduct]
    @ProductID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM Lab.SamplePoints WHERE ProductID = @ProductID)
        OR EXISTS(SELECT 1 FROM Lab.AnalysisNorms WHERE ProductID = @ProductID)
        OR EXISTS(SELECT 1 FROM Lab.Samples WHERE ProductID = @ProductID)
    BEGIN
        RAISERROR('Нельзя удалить продукт — существуют связанные нормы, точки или пробы.', 16, 1);
        RETURN;
    END;

    DELETE FROM Lab.Products WHERE ProductID = @ProductID;
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteQualitativeOption]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[DeleteQualitativeOption]
    @OptionID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM Lab.SampleResults WHERE OptionID = @OptionID)
    BEGIN
        RAISERROR('Нельзя удалить вариант — он использован в результатах анализов.', 16, 1);
        RETURN;
    END;

    DELETE FROM Lab.AnalysisQualitativeOptions WHERE OptionID = @OptionID;
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteReagent]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[DeleteReagent]
    @ReagentID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM Lab.AnalysisReagents WHERE ReagentID = @ReagentID)
    BEGIN
        RAISERROR('Нельзя удалить реактив — он связан с анализами.', 16, 1);
        RETURN;
    END;

    DELETE FROM Lab.Reagents WHERE ReagentID = @ReagentID;
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteSamplePoint]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[DeleteSamplePoint]
    @SamplePointID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM Lab.Samples WHERE SamplePointID = @SamplePointID)
    BEGIN
        RAISERROR('Нельзя удалить точку — по ней существуют пробы.', 16, 1);
        RETURN;
    END;

    DELETE FROM Lab.SamplePoints WHERE SamplePointID = @SamplePointID;
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteSampleResult]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Lab].[DeleteSampleResult]
    @ResultID INT,
    @UserName NVARCHAR(200)
AS
BEGIN
    UPDATE Lab.SampleResults
    SET IsDeleted = 1,
        DeletedAt = GETDATE(),
        DeletedBy = @UserName
    WHERE ResultID = @ResultID;

    EXEC Lab.WriteAudit 'SampleResults', @ResultID, 'IsDeleted', '0', '1', @UserName, 'DELETE';
END;
GO
/****** Object:  StoredProcedure [Lab].[DeleteStandard]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[DeleteStandard]
    @StandardID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM Lab.Analyses WHERE StandardID = @StandardID)
        OR EXISTS(SELECT 1 FROM Lab.AnalysisMethods WHERE StandardID = @StandardID)
    BEGIN
        RAISERROR('Нельзя удалить стандарт — он используется анализами.', 16, 1);
        RETURN;
    END;

    DELETE FROM Lab.Standards WHERE StandardID = @StandardID;
END;
GO
/****** Object:  StoredProcedure [Lab].[GetAnalysisHistory]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Lab].[GetAnalysisHistory]
    @SamplePointID INT = NULL,
    @ProductID INT = NULL,
    @AnalysisID INT = NULL,
    @DateFrom DATE = NULL,
    @DateTo DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        S.SampleDate,
        SP.PointName,
        P.ProductName,
        A.AnalysisName,
        SR.ValueNumeric,
        SR.ValueText,
        SR.IsOk
    FROM Lab.SampleResults SR
    JOIN Lab.Samples S ON S.SampleID = SR.SampleID
    JOIN Lab.SamplePoints SP ON SP.SamplePointID = S.SamplePointID
    JOIN Lab.Products P ON P.ProductID = S.ProductID
    JOIN Lab.Analyses A ON A.AnalysisID = SR.AnalysisID
    WHERE (@SamplePointID IS NULL OR S.SamplePointID = @SamplePointID)
      AND (@ProductID IS NULL OR S.ProductID = @ProductID)
      AND (@AnalysisID IS NULL OR SR.AnalysisID = @AnalysisID)
      AND (@DateFrom IS NULL OR S.SampleDate >= @DateFrom)
      AND (@DateTo IS NULL OR S.SampleDate <= @DateTo)
    ORDER BY S.SampleDate DESC;
END;
GO
/****** Object:  StoredProcedure [Lab].[GetSampleFull]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Lab].[GetSampleFull]
    @SampleID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        S.SampleID,
        S.SampleDate,
        SP.PointName,
        P.ProductName,
        S.OperatorName,
        S.BatchNumber
    FROM Lab.Samples S
    JOIN Lab.SamplePoints SP ON SP.SamplePointID = S.SamplePointID
    JOIN Lab.Products P ON P.ProductID = S.ProductID
    WHERE S.SampleID = @SampleID;

    SELECT 
        SR.ResultID,
        SR.AnalysisID,
        A.AnalysisName,
        A.Unit,
        A.ResultType,
        SR.ValueNumeric,
        SR.ValueText,
        SR.IsOk,
        SR.Comment,
        AN.MinValue,
        AN.MaxValue,
        AN.AllowedText
    FROM Lab.SampleResults SR
    JOIN Lab.Analyses A ON A.AnalysisID = SR.AnalysisID
    LEFT JOIN Lab.AnalysisNorms AN 
        ON AN.ProductID = (SELECT ProductID FROM Lab.Samples WHERE SampleID = @SampleID)
       AND AN.AnalysisID = SR.AnalysisID
    WHERE SR.SampleID = @SampleID
    ORDER BY A.AnalysisName;
END;
GO
/****** Object:  StoredProcedure [Lab].[UnlockResult]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Lab].[UnlockResult]
    @ResultID INT,
    @AdminName NVARCHAR(200)
AS
BEGIN
    UPDATE Lab.SampleResults
    SET IsLocked = 0,
        LockedAt = NULL,
        LockedBy = NULL
    WHERE ResultID = @ResultID;

    EXEC Lab.WriteAudit 'SampleResults', @ResultID, 'IsLocked', '1', '0', @AdminName, 'UNLOCK';
END;
GO
/****** Object:  StoredProcedure [Lab].[UpdateAnalysis]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[UpdateAnalysis]
    @AnalysisID INT,
    @AnalysisName NVARCHAR(200),
    @Unit NVARCHAR(50),
    @ResultType NVARCHAR(20),
    @Notes NVARCHAR(MAX),
    @StandardID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Lab.Analyses
    SET AnalysisName = @AnalysisName,
        Unit = @Unit,
        ResultType = @ResultType,
        Notes = @Notes,
        StandardID = @StandardID
    WHERE AnalysisID = @AnalysisID;
END;
GO
/****** Object:  StoredProcedure [Lab].[UpdateAnalysisMethod]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[UpdateAnalysisMethod]
    @MethodID INT,
    @StandardID INT = NULL,
    @FormulaID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Lab.AnalysisMethods
    SET StandardID = @StandardID,
        FormulaID = @FormulaID
    WHERE MethodID = @MethodID;
END;
GO
/****** Object:  StoredProcedure [Lab].[UpdateAnalysisNorm]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[UpdateAnalysisNorm]
    @NormID INT,
    @MinValue FLOAT = NULL,
    @MaxValue FLOAT = NULL,
    @AllowedText NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Lab.AnalysisNorms
    SET MinValue = @MinValue,
        MaxValue = @MaxValue,
        AllowedText = @AllowedText
    WHERE NormID = @NormID;
END;
GO
/****** Object:  StoredProcedure [Lab].[UpdateDepartment]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[UpdateDepartment]
    @DepartmentID INT,
    @DepartmentName NVARCHAR(200),
    @Description NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Lab.Departments
    SET DepartmentName = @DepartmentName,
        Description = @Description
    WHERE DepartmentID = @DepartmentID;
END;
GO
/****** Object:  StoredProcedure [Lab].[UpdateFormula]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[UpdateFormula]
    @FormulaID INT,
    @FormulaName NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Expression NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Lab.Formulas
    SET FormulaName = @FormulaName,
        Description = @Description,
        Expression = @Expression
    WHERE FormulaID = @FormulaID;
END;
GO
/****** Object:  StoredProcedure [Lab].[UpdateProduct]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[UpdateProduct]
    @ProductID INT,
    @ProductName NVARCHAR(200),
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Lab.Products
    SET ProductName = @ProductName,
        Notes = @Notes
    WHERE ProductID = @ProductID;
END;
GO
/****** Object:  StoredProcedure [Lab].[UpdateQualitativeOption]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[UpdateQualitativeOption]
    @OptionID INT,
    @OptionValue NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Lab.AnalysisQualitativeOptions
    SET OptionValue = @OptionValue
    WHERE OptionID = @OptionID;
END;
GO
/****** Object:  StoredProcedure [Lab].[UpdateReagent]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[UpdateReagent]
    @ReagentID INT,
    @ReagentName NVARCHAR(200),
    @Unit NVARCHAR(50),
    @StockQty FLOAT,
    @ReorderThreshold FLOAT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Lab.Reagents
    SET ReagentName = @ReagentName,
        Unit = @Unit,
        StockQty = @StockQty,
        ReorderThreshold = @ReorderThreshold
    WHERE ReagentID = @ReagentID;
END;
GO
/****** Object:  StoredProcedure [Lab].[UpdateSamplePoint]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[UpdateSamplePoint]
    @SamplePointID INT,
    @PointName NVARCHAR(200),
    @DepartmentID INT,
    @ProductID INT,
    @Description NVARCHAR(MAX),
    @FrequencyHours INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Lab.SamplePoints
    SET PointName = @PointName,
        DepartmentID = @DepartmentID,
        ProductID = @ProductID,
        Description = @Description,
        FrequencyHours = @FrequencyHours
    WHERE SamplePointID = @SamplePointID;
END;
GO
/****** Object:  StoredProcedure [Lab].[UpdateSampleResult]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Lab].[UpdateSampleResult]
    @ResultID INT,
    @ValueNumeric FLOAT = NULL,
    @ValueText NVARCHAR(200) = NULL,
    @Comment NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @SampleID INT,
        @AnalysisID INT,
        @ProductID INT,
        @ResultType NVARCHAR(20),
        @MinValue FLOAT,
        @MaxValue FLOAT,
        @AllowedText NVARCHAR(200),
        @IsOk BIT = NULL;

    SELECT 
        @SampleID = SampleID,
        @AnalysisID = AnalysisID
    FROM Lab.SampleResults
    WHERE ResultID = @ResultID;

    SELECT @ProductID = ProductID
    FROM Lab.Samples
    WHERE SampleID = @SampleID;

    SELECT @ResultType = ResultType
    FROM Lab.Analyses
    WHERE AnalysisID = @AnalysisID;

    SELECT 
        @MinValue = MinValue,
        @MaxValue = MaxValue,
        @AllowedText = AllowedText
    FROM Lab.AnalysisNorms
    WHERE ProductID = @ProductID AND AnalysisID = @AnalysisID;

    -- Проверка
    IF @ResultType = 'NUMERIC' AND @MinValue IS NOT NULL AND @MaxValue IS NOT NULL
        SET @IsOk = CASE WHEN @ValueNumeric BETWEEN @MinValue AND @MaxValue THEN 1 ELSE 0 END;

    IF @ResultType = 'TEXT' AND @AllowedText IS NOT NULL
        SET @IsOk = CASE WHEN @ValueText = @AllowedText THEN 1 ELSE 0 END;

    UPDATE Lab.SampleResults
    SET ValueNumeric = @ValueNumeric,
        ValueText = @ValueText,
        Comment = @Comment,
        IsOk = @IsOk
    WHERE ResultID = @ResultID;

    SELECT @IsOk AS IsOk;
END;
GO
/****** Object:  StoredProcedure [Lab].[UpdateStandard]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Lab].[UpdateStandard]
    @StandardID INT,
    @StandardName NVARCHAR(200),
    @FileName NVARCHAR(500) = NULL,
    @FileID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Lab.Standards
    SET StandardName = @StandardName,
        FileName = @FileName,
        FileID = @FileID
    WHERE StandardID = @StandardID;
END;
GO
/****** Object:  StoredProcedure [Lab].[WriteAudit]    Script Date: 10.12.2025 0:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Lab].[WriteAudit]
    @TableName NVARCHAR(100),
    @RecordID INT,
    @FieldName NVARCHAR(100),
    @OldValue NVARCHAR(MAX),
    @NewValue NVARCHAR(MAX),
    @ChangedBy NVARCHAR(200),
    @ActionType NVARCHAR(50)
AS
BEGIN
    INSERT INTO Lab.AuditTrail
    (TableName, RecordID, FieldName, OldValue, NewValue, ChangedBy, ActionType)
    VALUES
    (@TableName, @RecordID, @FieldName, @OldValue, @NewValue, @ChangedBy, @ActionType);
END;
GO
USE [master]
GO
