USE [master]
GO
/****** Object:  Database [OpcUaSystem]    Script Date: 27.10.2025 9:18:22 ******/
CREATE DATABASE [OpcUaSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpcUaSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OpcUaSystem.mdf' , SIZE = 401408KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OpcUaSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OpcUaSystem_log.ldf' , SIZE = 1712128KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpcUaSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpcUaSystem]
GO
/****** Object:  User [tg_user]    Script Date: 27.10.2025 9:18:22 ******/
CREATE USER [tg_user] FOR LOGIN [tg_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [tg_user]
GO
/****** Object:  Table [dbo].[OpcData]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcData](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TagId] [int] NOT NULL,
	[Value] [float] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpcServers]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcServers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[EndpointUrl] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[OpcUsername] [nvarchar](100) NULL,
	[OpcPassword] [nvarchar](256) NULL,
	[SecurityPolicy] [nvarchar](50) NULL,
	[SecurityMode] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_OpcServers_EndpointUrl] UNIQUE NONCLUSTERED 
(
	[EndpointUrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpcTags]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServerId] [int] NOT NULL,
	[BrowseName] [nvarchar](200) NOT NULL,
	[NodeId] [nvarchar](500) NOT NULL,
	[DataType] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Path] [nvarchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ServerId] ASC,
	[NodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollingIntervals]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollingIntervals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IntervalSeconds] [int] NOT NULL,
	[Type] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollingTasks]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollingTasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[server_url] [nvarchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
	[started_at] [datetime] NULL,
	[interval_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollingTaskTags]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollingTaskTags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[polling_task_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PollingTaskTag] UNIQUE NONCLUSTERED 
(
	[polling_task_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportDeliveryLog]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDeliveryLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReportId] [int] NOT NULL,
	[TargetType] [nvarchar](20) NOT NULL,
	[TargetValue] [nvarchar](255) NOT NULL,
	[SentAt] [datetime] NULL,
	[DeliveryStatus] [nvarchar](20) NOT NULL,
	[ErrorMessage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NOT NULL,
	[DateCreated] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ExportedFile] [nvarchar](255) NULL,
	[ExportFormat] [nvarchar](10) NULL,
	[SentTo] [nvarchar](255) NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportSchedule]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[PeriodType] [nvarchar](20) NOT NULL,
	[TimeOfDay] [time](7) NOT NULL,
	[NextRun] [datetime] NULL,
	[LastRun] [datetime] NULL,
	[Active] [bit] NOT NULL,
	[TargetType] [nvarchar](20) NOT NULL,
	[TargetValue] [nvarchar](255) NOT NULL,
	[AggregationType] [nvarchar](20) NULL,
	[SendFormat] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportStyles]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportStyles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ChartStyle] [nvarchar](max) NULL,
	[TableStyle] [nvarchar](max) NULL,
	[IsDefault] [bit] NOT NULL,
	[UserId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ExcelStyle] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportTemplates]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
	[IsShared] [bit] NULL,
	[ShareHash] [varchar](64) NULL,
	[ReportType] [nvarchar](50) NULL,
	[PeriodType] [nvarchar](20) NULL,
	[AutoSchedule] [bit] NULL,
	[TargetChannel] [nvarchar](128) NULL,
	[StyleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportTemplateTags]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportTemplateTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
	[TagType] [nvarchar](20) NOT NULL,
	[Aggregate] [varchar](16) NULL,
	[IntervalMinutes] [int] NOT NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelegramReportTarget]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelegramReportTarget](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChannelId] [bigint] NOT NULL,
	[ChannelName] [nvarchar](128) NOT NULL,
	[ThreadId] [int] NULL,
	[SendAsFile] [bit] NULL,
	[SendAsText] [bit] NULL,
	[SendAsChart] [bit] NULL,
	[Active] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Permission] [nvarchar](100) NOT NULL,
	[GrantedAt] [datetime2](7) NOT NULL,
	[GrantedByUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserPermissions] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[TelegramId] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OpcData] ADD  DEFAULT ('Good') FOR [Status]
GO
ALTER TABLE [dbo].[OpcTags] ADD  DEFAULT ('Float') FOR [DataType]
GO
ALTER TABLE [dbo].[PollingTasks] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[ReportDeliveryLog] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ('complete') FOR [Status]
GO
ALTER TABLE [dbo].[ReportSchedule] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[ReportStyles] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[ReportStyles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReportStyles] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ReportTemplates] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ReportTemplates] ADD  DEFAULT (getdate()) FOR [DateUpdated]
GO
ALTER TABLE [dbo].[ReportTemplates] ADD  DEFAULT ((0)) FOR [IsShared]
GO
ALTER TABLE [dbo].[ReportTemplates] ADD  DEFAULT ((0)) FOR [AutoSchedule]
GO
ALTER TABLE [dbo].[ReportTemplateTags] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[TelegramReportTarget] ADD  DEFAULT ((1)) FOR [SendAsFile]
GO
ALTER TABLE [dbo].[TelegramReportTarget] ADD  DEFAULT ((1)) FOR [SendAsText]
GO
ALTER TABLE [dbo].[TelegramReportTarget] ADD  DEFAULT ((0)) FOR [SendAsChart]
GO
ALTER TABLE [dbo].[TelegramReportTarget] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[TelegramReportTarget] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserPermissions] ADD  CONSTRAINT [DF_UserPermissions_GrantedAt]  DEFAULT (sysutcdatetime()) FOR [GrantedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OpcData]  WITH CHECK ADD FOREIGN KEY([TagId])
REFERENCES [dbo].[OpcTags] ([Id])
GO
ALTER TABLE [dbo].[OpcTags]  WITH CHECK ADD FOREIGN KEY([ServerId])
REFERENCES [dbo].[OpcServers] ([Id])
GO
ALTER TABLE [dbo].[PollingTasks]  WITH CHECK ADD FOREIGN KEY([interval_id])
REFERENCES [dbo].[PollingIntervals] ([Id])
GO
ALTER TABLE [dbo].[PollingTaskTags]  WITH CHECK ADD FOREIGN KEY([polling_task_id])
REFERENCES [dbo].[PollingTasks] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PollingTaskTags]  WITH CHECK ADD FOREIGN KEY([tag_id])
REFERENCES [dbo].[OpcTags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportDeliveryLog]  WITH CHECK ADD FOREIGN KEY([ReportId])
REFERENCES [dbo].[Reports] ([Id])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([TemplateId])
REFERENCES [dbo].[ReportTemplates] ([Id])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ReportSchedule]  WITH CHECK ADD FOREIGN KEY([TemplateId])
REFERENCES [dbo].[ReportTemplates] ([Id])
GO
ALTER TABLE [dbo].[ReportTemplates]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ReportTemplates]  WITH CHECK ADD  CONSTRAINT [FK_ReportTemplates_Style] FOREIGN KEY([StyleId])
REFERENCES [dbo].[ReportStyles] ([Id])
GO
ALTER TABLE [dbo].[ReportTemplates] CHECK CONSTRAINT [FK_ReportTemplates_Style]
GO
ALTER TABLE [dbo].[ReportTemplateTags]  WITH CHECK ADD FOREIGN KEY([TagId])
REFERENCES [dbo].[OpcTags] ([Id])
GO
ALTER TABLE [dbo].[ReportTemplateTags]  WITH CHECK ADD FOREIGN KEY([TemplateId])
REFERENCES [dbo].[ReportTemplates] ([Id])
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Users]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAggregatedStats]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetAggregatedStats]
    @TagId INT = NULL,
    @GroupId INT = NULL,
    @DateFrom NVARCHAR(50),
    @DateTo NVARCHAR(50),
    @AggType NVARCHAR(10) = 'SUM'  -- SUM, AVG, MIN, MAX
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;
    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo, 120);

    -- Если группа не указана, работаем по одному тегу
    IF @GroupId IS NULL AND @TagId IS NOT NULL
    BEGIN
        DECLARE @sql NVARCHAR(MAX) = N'
            SELECT
                @AggType AS agg_type,
                @TagId AS tag_id,
                ' + CASE 
                        WHEN @AggType = 'SUM' THEN 'SUM([Value])'
                        WHEN @AggType = 'AVG' THEN 'AVG([Value])'
                        WHEN @AggType = 'MIN' THEN 'MIN([Value])'
                        WHEN @AggType = 'MAX' THEN 'MAX([Value])'
                        ELSE 'NULL' END + N' AS result
            FROM OPCData
            WHERE TagId = @TagId AND [Timestamp] BETWEEN @DateFromDT AND @DateToDT
        ';
        EXEC sp_executesql @sql,
            N'@TagId INT, @DateFromDT DATETIME, @DateToDT DATETIME, @AggType NVARCHAR(10)',
            @TagId, @DateFromDT, @DateToDT, @AggType;
    END
    ELSE IF @GroupId IS NOT NULL
    BEGIN
        -- Для группы предполагаем наличие таблицы TagGroups(TagId, GroupId)
        DECLARE @sql1 NVARCHAR(MAX) = N'
            SELECT
                @AggType AS agg_type,
                d.TagId AS tag_id,
                ' + CASE 
                        WHEN @AggType = 'SUM' THEN 'SUM(d.[Value])'
                        WHEN @AggType = 'AVG' THEN 'AVG(d.[Value])'
                        WHEN @AggType = 'MIN' THEN 'MIN(d.[Value])'
                        WHEN @AggType = 'MAX' THEN 'MAX(d.[Value])'
                        ELSE 'NULL' END + N' AS result
            FROM OPCData d
            INNER JOIN TagGroups tg ON tg.TagId = d.TagId
            WHERE tg.GroupId = @GroupId AND d.[Timestamp] BETWEEN @DateFromDT AND @DateToDT
            GROUP BY d.TagId
        ';
        EXEC sp_executesql @sql1,
            N'@GroupId INT, @DateFromDT DATETIME, @DateToDT DATETIME, @AggType NVARCHAR(10)',
            @GroupId, @DateFromDT, @DateToDT, @AggType;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBalanceReport]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBalanceReport]
    @date_from DATE,
    @date_to DATE,
    @tag_ids NVARCHAR(MAX)  -- '1,3,5,7'
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;

    -- Список тегов: парсим через STRING_SPLIT
    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    -- ... (далее всё без изменений)
    ;WITH DateRange AS (
        SELECT @date_from AS [Date]
        UNION ALL
        SELECT DATEADD(DAY, 1, [Date]) FROM DateRange WHERE [Date] < @date_to
    ),
    Shifts AS (
        SELECT 1 AS ShiftNo, N'Дневная' AS ShiftName, CAST('08:00:00' AS time) AS ShiftStart, CAST('19:59:59' AS time) AS ShiftEnd
        UNION ALL
        SELECT 2, N'Ночная', CAST('20:00:00' AS time), CAST('07:59:59' AS time)
    ),
    TagList AS (
        SELECT t.TagId, ot.BrowseName
        FROM @TagTable t
        JOIN OpcTags ot ON ot.Id = t.TagId
    ),
    ShiftData AS (
        SELECT 
            dr.[Date],
            s.ShiftNo,
            s.ShiftName,
            t.BrowseName AS TagName,
            MIN(od.Value) AS StartValue,
            MAX(od.Value) AS EndValue,
            MAX(od.Value) - MIN(od.Value) AS Delta
        FROM DateRange dr
        CROSS JOIN Shifts s
        CROSS JOIN TagList t
        LEFT JOIN OpcData od ON
            od.TagId = t.TagId
            AND (
                (s.ShiftNo = 1 AND CAST(od.Timestamp AS DATE) = dr.[Date] AND CAST(od.Timestamp AS time) BETWEEN s.ShiftStart AND s.ShiftEnd)
                OR
                (s.ShiftNo = 2 AND (
                    (CAST(od.Timestamp AS DATE) = dr.[Date] AND CAST(od.Timestamp AS time) BETWEEN s.ShiftStart AND CAST('23:59:59' AS time))
                    OR
                    (CAST(od.Timestamp AS DATE) = DATEADD(DAY, 1, dr.[Date]) AND CAST(od.Timestamp AS time) BETWEEN CAST('00:00:00' AS time) AND s.ShiftEnd)
                ))
            )
        GROUP BY dr.[Date], s.ShiftNo, s.ShiftName, t.TagId, t.BrowseName
    ),
    DailyData AS (
        SELECT 
            sd.[Date],
            NULL AS ShiftNo,
            N'Сутки' AS ShiftName,
            sd.TagName,
            MIN(sd.StartValue) AS StartValue,
            MAX(sd.EndValue) AS EndValue,
            SUM(sd.Delta) AS Delta
        FROM ShiftData sd
        GROUP BY sd.[Date], sd.TagName
    )
    SELECT 
        [Date],
        ShiftNo,
        ShiftName AS [Смена],
        TagName,
        StartValue AS [Начало],
        EndValue AS [Конец],
        Delta AS [Прирост]
    FROM (
        SELECT [Date], ShiftNo, ShiftName, TagName, StartValue, EndValue, Delta FROM ShiftData
        UNION ALL
        SELECT [Date], ShiftNo, ShiftName, TagName, StartValue, EndValue, Delta FROM DailyData
    ) AS Unioned
    ORDER BY 
        [Date], 
        CASE 
            WHEN ShiftName = N'Дневная' THEN 1
            WHEN ShiftName = N'Ночная' THEN 2
            ELSE 3
        END,
        TagName
    OPTION (MAXRECURSION 1000);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomReport]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCustomReport]
    @DateFrom NVARCHAR(50),
    @DateTo NVARCHAR(50),
    @TagsJson NVARCHAR(MAX)  -- [{"tag_id":1, "aggregate":"AVG", "interval_minutes":5}, ...]
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;
    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo, 120);

    -- Парсим JSON конфиг тегов
    IF OBJECT_ID('tempdb..#TagConfig') IS NOT NULL DROP TABLE #TagConfig;
    SELECT *
      INTO #TagConfig
      FROM OPENJSON(@TagsJson)
      WITH (
          tag_id INT,
          aggregate NVARCHAR(8),
          interval_minutes INT
      );

    -- Собираем массив SELECT-ов
    DECLARE @parts TABLE (SqlPart NVARCHAR(MAX));

    DECLARE @TagId INT, @Agg NVARCHAR(8), @Interval INT, @part NVARCHAR(MAX);

    DECLARE TagCursor CURSOR FOR
        SELECT tag_id, aggregate, interval_minutes FROM #TagConfig;

    OPEN TagCursor;
    FETCH NEXT FROM TagCursor INTO @TagId, @Agg, @Interval;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @part = 
        'SELECT ' + 
            CAST(@TagId AS NVARCHAR) + ' AS TagId, ' +
            'ISNULL(''' + ISNULL(@Agg, '') + ''', '''') AS Aggregate, ' +
            CAST(@Interval AS NVARCHAR) + ' AS IntervalMinutes, ' +
            CASE 
                WHEN @Interval > 1 THEN
                    'DATEADD(MINUTE, DATEDIFF(MINUTE, 0, d.[Timestamp]) / ' + CAST(@Interval AS NVARCHAR) + ' * ' + CAST(@Interval AS NVARCHAR) + ', 0)'
                ELSE
                    'd.[Timestamp]'
            END + ' AS TimeGroup, ' +
            CASE
                WHEN ISNULL(@Agg, '') = '' THEN 'MAX(CAST(d.[Value] AS FLOAT))' -- Сырое (последнее за интервал)
                WHEN @Agg = 'AVG' THEN 'AVG(CAST(d.[Value] AS FLOAT))'
                WHEN @Agg = 'SUM' THEN 'SUM(CAST(d.[Value] AS FLOAT))'
                WHEN @Agg = 'MIN' THEN 'MIN(CAST(d.[Value] AS FLOAT))'
                WHEN @Agg = 'MAX' THEN 'MAX(CAST(d.[Value] AS FLOAT))'
                ELSE 'MAX(CAST(d.[Value] AS FLOAT))'
            END + ' AS Value ' +
        'FROM OPCData d ' +
        'WHERE d.TagId = ' + CAST(@TagId AS NVARCHAR) + ' AND d.[Timestamp] >= @DateFromDT AND d.[Timestamp] < @DateToDT ' +
        'GROUP BY ' + 
            CASE 
                WHEN @Interval > 1 THEN
                    'DATEADD(MINUTE, DATEDIFF(MINUTE, 0, d.[Timestamp]) / ' + CAST(@Interval AS NVARCHAR) + ' * ' + CAST(@Interval AS NVARCHAR) + ', 0)'
                ELSE
                    'd.[Timestamp]'
            END;

        INSERT INTO @parts(SqlPart) VALUES (@part);

        FETCH NEXT FROM TagCursor INTO @TagId, @Agg, @Interval;
    END

    CLOSE TagCursor;
    DEALLOCATE TagCursor;

    -- Собираем финальный SQL
    DECLARE @sql NVARCHAR(MAX) = '';
    SELECT @sql = STRING_AGG(SqlPart, ' UNION ALL ')
    FROM @parts;

    -- print(@sql) -- для отладки

    IF LEN(@sql) > 0
        EXEC sp_executesql @sql, N'@DateFromDT DATETIME, @DateToDT DATETIME', @DateFromDT, @DateToDT;

    DROP TABLE #TagConfig;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDailyDelta]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetDailyDelta]
    @TagId INT,
    @DateFrom NVARCHAR(50),
    @DateTo NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;
    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo, 120);

    ;WITH Days AS (
        SELECT TOP (DATEDIFF(DAY, @DateFromDT, @DateToDT) + 1)
            DATEADD(DAY, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1, @DateFromDT) AS DayStart
        FROM sys.all_objects
    ),
    DayValues AS (
        SELECT
            d.DayStart,
            o.[Value], o.[Timestamp],
            ROW_NUMBER() OVER (PARTITION BY d.DayStart ORDER BY o.[Timestamp] ASC)  AS rn_asc,
            ROW_NUMBER() OVER (PARTITION BY d.DayStart ORDER BY o.[Timestamp] DESC) AS rn_desc
        FROM Days d
        LEFT JOIN OPCData o
            ON o.TagId = @TagId
           AND o.[Timestamp] >= d.DayStart
           AND o.[Timestamp] <  DATEADD(DAY, 1, d.DayStart)
    )
    SELECT
        d.DayStart AS [Day],
        v_first.[Value] AS [FirstValue],
        v_last.[Value]  AS [LastValue],
        v_last.[Value] - v_first.[Value] AS [Delta]
    FROM
        (SELECT DISTINCT DayStart FROM DayValues) d
        LEFT JOIN DayValues v_first ON d.DayStart = v_first.DayStart AND v_first.rn_asc = 1
        LEFT JOIN DayValues v_last  ON d.DayStart = v_last.DayStart  AND v_last.rn_desc = 1
    WHERE v_first.[Value] IS NOT NULL AND v_last.[Value] IS NOT NULL
    ORDER BY d.DayStart;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetShiftDelta]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetShiftDelta]
    @TagId INT,
    @DateFrom NVARCHAR(50),
    @DateTo   NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;
    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo, 120);

    ;WITH ShiftTimes AS (
        SELECT
            DATEADD(HOUR, 8, d)  AS ShiftStart,   -- 08:00
            DATEADD(HOUR, 20, d) AS ShiftEnd,     -- 20:00
            1 AS ShiftNo
        FROM (
            SELECT TOP (DATEDIFF(DAY, @DateFromDT, @DateToDT) + 1)
                DATEADD(DAY, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1, @DateFromDT) AS d
            FROM sys.all_objects
        ) t
        UNION ALL
        SELECT
            DATEADD(HOUR, 20, d), DATEADD(HOUR, 32, d), 2 -- 20:00 до 08:00 следующего дня
        FROM (
            SELECT TOP (DATEDIFF(DAY, @DateFromDT, @DateToDT) + 1)
                DATEADD(DAY, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1, @DateFromDT) AS d
            FROM sys.all_objects
        ) t
    ),
    ShiftValues AS (
        SELECT
            s.ShiftStart, s.ShiftEnd, s.ShiftNo,
            o.[Value], o.[Timestamp],
            ROW_NUMBER() OVER (PARTITION BY s.ShiftStart, s.ShiftNo ORDER BY o.[Timestamp] ASC)  AS rn_asc,
            ROW_NUMBER() OVER (PARTITION BY s.ShiftStart, s.ShiftNo ORDER BY o.[Timestamp] DESC) AS rn_desc
        FROM ShiftTimes s
        LEFT JOIN OPCData o
            ON o.TagId = @TagId
           AND o.[Timestamp] >= s.ShiftStart
           AND o.[Timestamp] <  s.ShiftEnd
    )
    SELECT
        s.ShiftStart,
        s.ShiftNo,
        v_first.[Value] AS FirstValue,
        v_last.[Value]  AS LastValue,
        v_last.[Value] - v_first.[Value] AS ShiftDelta
    FROM
        (SELECT DISTINCT ShiftStart, ShiftNo FROM ShiftValues) s
        LEFT JOIN ShiftValues v_first ON s.ShiftStart = v_first.ShiftStart AND s.ShiftNo = v_first.ShiftNo AND v_first.rn_asc = 1
        LEFT JOIN ShiftValues v_last  ON s.ShiftStart = v_last.ShiftStart  AND s.ShiftNo = v_last.ShiftNo  AND v_last.rn_desc = 1
    WHERE v_first.[Value] IS NOT NULL AND v_last.[Value] IS NOT NULL
    ORDER BY s.ShiftStart, s.ShiftNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTagTrend]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetTagTrend]
    @TagId INT,
    @DateFrom NVARCHAR(50),
    @DateTo NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
	SET LANGUAGE English;
    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo, 120);

    SELECT [Timestamp], [Value]
    FROM OPCData
    WHERE TagId = @TagId
      AND [Timestamp] BETWEEN @DateFromDT AND @DateToDT
    ORDER BY [Timestamp];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_BalanceReport_Compare]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Telegram_BalanceReport_Compare]
    @period_type NVARCHAR(10),       -- 'daily' | 'weekly' | 'monthly'
    @date_to DATE,                   -- дата конца (обычно GETDATE())
    @tag_ids NVARCHAR(MAX)           -- строка: '1,3,5'
AS
BEGIN
    SET NOCOUNT ON;

    -- Парсим теги
    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    -- Вычисляем даты периодов
    DECLARE @curr_start DATE, @curr_end DATE, @prev_start DATE, @prev_end DATE;

    IF @period_type = 'daily'
    BEGIN
        SET @curr_end   = @date_to;
        SET @curr_start = DATEADD(DAY, -1, @curr_end);
        SET @prev_end   = @curr_start;
        SET @prev_start = DATEADD(DAY, -1, @prev_end);
    END
    ELSE IF @period_type = 'weekly'
    BEGIN
        SET @curr_end   = @date_to;
        SET @curr_start = DATEADD(DAY, -6, @curr_end);  -- Неделя = 7 дней
        SET @prev_end   = DATEADD(DAY, -7, @curr_end);
        SET @prev_start = DATEADD(DAY, -6, @prev_end);
    END
    ELSE IF @period_type = 'monthly'
    BEGIN
        SET @curr_end   = @date_to;
        SET @curr_start = DATEADD(MONTH, -1, @curr_end);
        SET @prev_end   = @curr_start;
        SET @prev_start = DATEADD(MONTH, -1, @prev_end);
    END

    -- Считаем дельты по каждому тегу за текущий и предыдущий период
    ;WITH TagList AS (
        SELECT t.TagId, ot.BrowseName
        FROM @TagTable t
        JOIN OpcTags ot ON ot.Id = t.TagId
    ),
    CurrData AS (
        SELECT
            t.BrowseName AS TagName,
            MIN(od.Value) AS StartValue,
            MAX(od.Value) AS EndValue,
            MAX(od.Value) - MIN(od.Value) AS Delta
        FROM TagList t
        LEFT JOIN OpcData od ON od.TagId = t.TagId
            AND od.Timestamp >= @curr_start AND od.Timestamp < DATEADD(DAY, 1, @curr_end)
        GROUP BY t.BrowseName
    ),
    PrevData AS (
        SELECT
            t.BrowseName AS TagName,
            MIN(od.Value) AS StartValue,
            MAX(od.Value) AS EndValue,
            MAX(od.Value) - MIN(od.Value) AS Delta
        FROM TagList t
        LEFT JOIN OpcData od ON od.TagId = t.TagId
            AND od.Timestamp >= @prev_start AND od.Timestamp < DATEADD(DAY, 1, @prev_end)
        GROUP BY t.BrowseName
    )
    SELECT
        c.TagName,
        c.Delta AS CurrDelta,
        p.Delta AS PrevDelta,
        CASE 
            WHEN ISNULL(p.Delta,0) = 0 AND ISNULL(c.Delta,0) = 0 THEN 0
            WHEN ISNULL(p.Delta,0) = 0 THEN 100
            ELSE ROUND((ISNULL(c.Delta,0) - ISNULL(p.Delta,0)) * 100.0 / NULLIF(p.Delta,0), 1)
        END AS PercentChange
    FROM CurrData c
    LEFT JOIN PrevData p ON c.TagName = p.TagName
    ORDER BY c.TagName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_BalanceReport_Daily]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Telegram_BalanceReport_Daily]
    @date_from DATE,
    @date_to DATE,
    @tag_ids NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE English;

    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    ;WITH DateRange AS (
        SELECT @date_from AS [Date]
        UNION ALL
        SELECT DATEADD(DAY, 1, [Date]) FROM DateRange WHERE [Date] < @date_to
    ),
    TagList AS (
        SELECT t.TagId, ot.BrowseName
        FROM @TagTable t
        JOIN OpcTags ot ON ot.Id = t.TagId
    ),
    DailyData AS (
        SELECT 
            dr.[Date],
            t.BrowseName AS TagName,
            MIN(od.Value) AS StartValue,
            MAX(od.Value) AS EndValue,
            MAX(od.Value) - MIN(od.Value) AS Delta
        FROM DateRange dr
        CROSS JOIN TagList t
        LEFT JOIN OpcData od ON
            od.TagId = t.TagId
            AND CAST(od.Timestamp AS DATE) = dr.[Date]
        GROUP BY dr.[Date], t.TagId, t.BrowseName
    )
    SELECT 
        [Date],
        N'Сутки' AS [Смена],
        TagName,
        StartValue AS [Начало],
        EndValue AS [Конец],
        Delta AS [Прирост]
    FROM DailyData
    ORDER BY [Date], TagName
    OPTION (MAXRECURSION 1000);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_BalanceReport_Monthly]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Telegram_BalanceReport_Monthly]
    @date_from DATE,     -- Первый день месяца (например, '2025-07-01')
    @date_to DATE,       -- Последний день месяца (например, '2025-07-31')
    @tag_ids NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE English;

    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    SELECT 
        FORMAT(@date_from, 'yyyy-MM') AS [Период],
        ot.BrowseName AS [TagName],
        MIN(od.Value) AS [Начало],
        MAX(od.Value) AS [Конец],
        MAX(od.Value) - MIN(od.Value) AS [Прирост]
    FROM @TagTable t
    JOIN OpcTags ot ON ot.Id = t.TagId
    LEFT JOIN OpcData od ON od.TagId = t.TagId AND CAST(od.Timestamp AS DATE) BETWEEN @date_from AND @date_to
    GROUP BY ot.BrowseName
    ORDER BY ot.BrowseName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_BalanceReport_Shift]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Telegram_BalanceReport_Shift]
    @date_from DATE,
    @date_to DATE,
    @tag_ids NVARCHAR(MAX)  -- '1,3,5,7'
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE English;

    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    ;WITH DateRange AS (
        SELECT @date_from AS [Date]
        UNION ALL
        SELECT DATEADD(DAY, 1, [Date]) FROM DateRange WHERE [Date] < @date_to
    ),
    Shifts AS (
        SELECT 1 AS ShiftNo, N'Дневная' AS ShiftName, CAST('08:00:00' AS time) AS ShiftStart, CAST('19:59:59' AS time) AS ShiftEnd
        UNION ALL
        SELECT 2, N'Ночная', CAST('20:00:00' AS time), CAST('07:59:59' AS time)
    ),
    TagList AS (
        SELECT t.TagId, ot.BrowseName
        FROM @TagTable t
        JOIN OpcTags ot ON ot.Id = t.TagId
    ),
    ShiftData AS (
        SELECT 
            dr.[Date],
            s.ShiftNo,
            s.ShiftName,
            t.BrowseName AS TagName,
            MIN(od.Value) AS StartValue,
            MAX(od.Value) AS EndValue,
            MAX(od.Value) - MIN(od.Value) AS Delta
        FROM DateRange dr
        CROSS JOIN Shifts s
        CROSS JOIN TagList t
        LEFT JOIN OpcData od ON
            od.TagId = t.TagId
            AND (
                (s.ShiftNo = 1 AND CAST(od.Timestamp AS DATE) = dr.[Date] AND CAST(od.Timestamp AS time) BETWEEN s.ShiftStart AND s.ShiftEnd)
                OR
                (s.ShiftNo = 2 AND (
                    (CAST(od.Timestamp AS DATE) = dr.[Date] AND CAST(od.Timestamp AS time) BETWEEN s.ShiftStart AND CAST('23:59:59' AS time))
                    OR
                    (CAST(od.Timestamp AS DATE) = DATEADD(DAY, 1, dr.[Date]) AND CAST(od.Timestamp AS time) BETWEEN CAST('00:00:00' AS time) AND s.ShiftEnd)
                ))
            )
        GROUP BY dr.[Date], s.ShiftNo, s.ShiftName, t.TagId, t.BrowseName
    )
    SELECT 
        [Date],
        ShiftNo,
        ShiftName AS [Смена],
        TagName,
        StartValue AS [Начало],
        EndValue AS [Конец],
        Delta AS [Прирост]
    FROM ShiftData
    WHERE ShiftName IN (N'Дневная', N'Ночная')
    ORDER BY [Date], ShiftNo, TagName
    OPTION (MAXRECURSION 1000);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_BalanceReport_Weekly]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Telegram_BalanceReport_Weekly]
    @date_from DATE,
    @date_to DATE,
    @tag_ids NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE English;

    DECLARE @TagTable TABLE(TagId INT);
    INSERT INTO @TagTable(TagId)
    SELECT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@tag_ids, ',');

    SELECT 
        CAST(@date_from AS VARCHAR(10)) + N' — ' + CAST(@date_to AS VARCHAR(10)) AS [Период],
        ot.BrowseName AS [TagName],
        MIN(od.Value) AS [Начало],
        MAX(od.Value) AS [Конец],
        MAX(od.Value) - MIN(od.Value) AS [Прирост]
    FROM @TagTable t
    JOIN OpcTags ot ON ot.Id = t.TagId
    LEFT JOIN OpcData od ON od.TagId = t.TagId AND CAST(od.Timestamp AS DATE) BETWEEN @date_from AND @date_to
    GROUP BY ot.BrowseName
    ORDER BY ot.BrowseName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_LineChart]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Telegram_LineChart]
    @date_from     NVARCHAR(50),      -- 'yyyy-MM-dd HH:mm:ss'
    @date_to       NVARCHAR(50),      -- 'yyyy-MM-dd HH:mm:ss' (правый край НЕ включительно)
    @tag_ids       NVARCHAR(MAX),     -- CSV: '1,3,5'
    @step_minutes  INT           = 1, -- 1..1440
    @agg           NVARCHAR(8)   = N'AVG', -- AVG|MIN|MAX|LAST
    @fill_gaps     BIT           = 1  -- 1 = вернуть все ведра времени для каждого тега
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE English;

    /* --- валидация --- */
    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @date_from, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @date_to,   120);
    IF @DateFromDT IS NULL OR @DateToDT IS NULL
    BEGIN
        RAISERROR(N'Invalid date range', 16, 1); RETURN;
    END
    IF @DateToDT <= @DateFromDT
    BEGIN
        RAISERROR(N'@date_to must be greater than @date_from', 16, 1); RETURN;
    END
    IF @step_minutes IS NULL OR @step_minutes < 1 OR @step_minutes > 1440
        SET @step_minutes = 1;
    SET @agg = UPPER(@agg);
    IF @agg NOT IN (N'AVG', N'MIN', N'MAX', N'LAST')
        SET @agg = N'AVG';

    /* --- список тегов --- */
    DECLARE @TagList TABLE (TagId INT PRIMARY KEY, TagName NVARCHAR(200) NULL);
    INSERT INTO @TagList(TagId, TagName)
    SELECT t.Id, t.BrowseName
    FROM dbo.OpcTags t
    JOIN (SELECT TRY_CAST(value AS INT) AS TagId
          FROM STRING_SPLIT(@tag_ids, ',')) s
      ON s.TagId = t.Id;

    IF NOT EXISTS(SELECT 1 FROM @TagList)
    BEGIN
        RAISERROR(N'Empty or invalid @tag_ids', 16, 1); RETURN;
    END

    /* --- бакеты времени (кратные step_minutes) --- */
    DECLARE @epoch DATETIME = '2000-01-01T00:00:00';
    DECLARE @BucketStart DATETIME = DATEADD(MINUTE,
        DATEDIFF(MINUTE, @epoch, @DateFromDT) / @step_minutes * @step_minutes, @epoch);

    ;WITH Bounds AS (
        SELECT @BucketStart AS StartTs, @DateToDT AS EndTs
    ),
    Tally AS (
        SELECT 0 AS i
        UNION ALL
        SELECT i + 1
        FROM Tally
        JOIN Bounds B
           ON DATEADD(MINUTE, (i + 1) * @step_minutes, B.StartTs) < B.EndTs
    )
    SELECT DATEADD(MINUTE, i * @step_minutes, B.StartTs) AS BucketStart
    INTO #Buckets
    FROM Tally
    CROSS JOIN Bounds B
    OPTION (MAXRECURSION 32767);

    /* --- сырые точки + привязка к ведру --- */
    ;WITH Raw AS (
        SELECT
            d.TagId,
            d.[Timestamp],
            d.[Value],
            BucketStart = DATEADD(MINUTE,
                DATEDIFF(MINUTE, @epoch, d.[Timestamp]) / @step_minutes * @step_minutes, @epoch)
        FROM dbo.OpcData d WITH (NOLOCK)
        JOIN @TagList t ON t.TagId = d.TagId
        WHERE d.[Timestamp] >= @DateFromDT
          AND d.[Timestamp] <  @DateToDT
    ),
    /* агрегаты AVG/MIN/MAX одним запросом */
    AggStats AS (
        SELECT
            r.TagId,
            r.BucketStart,
            AvgVal = AVG(r.[Value]),
            MinVal = MIN(r.[Value]),
            MaxVal = MAX(r.[Value])
        FROM Raw r
        GROUP BY r.TagId, r.BucketStart
    ),
    /* последнее значение в ведре: ROW_NUMBER() = 1 по убыванию времени */
    LastInBucket AS (
        SELECT TagId, BucketStart, [Value] AS LastVal
        FROM (
            SELECT
                r.TagId,
                r.BucketStart,
                r.[Value],
                ROW_NUMBER() OVER (PARTITION BY r.TagId, r.BucketStart
                                   ORDER BY r.[Timestamp] DESC) AS rn
            FROM Raw r
        ) x
        WHERE x.rn = 1
    )
    SELECT
        b.BucketStart AS ts,
        tl.TagId      AS tag_id,
        tl.TagName    AS tag_name,
        /* выбор нужной метрики */
        CASE @agg
            WHEN N'MIN'  THEN s.MinVal
            WHEN N'MAX'  THEN s.MaxVal
            WHEN N'LAST' THEN l.LastVal
            ELSE s.AvgVal
        END AS value
    FROM #Buckets b
    CROSS JOIN @TagList tl
    LEFT JOIN AggStats s
           ON s.TagId = tl.TagId
          AND s.BucketStart = b.BucketStart
    LEFT JOIN LastInBucket l
           ON l.TagId = tl.TagId
          AND l.BucketStart = b.BucketStart
    WHERE (@fill_gaps = 1) OR (
          @fill_gaps = 0 AND
          (
              (@agg IN (N'AVG', N'MIN', N'MAX') AND s.AvgVal IS NOT NULL)
              OR (@agg = N'LAST' AND l.LastVal IS NOT NULL)
          )
    )
    ORDER BY ts, tag_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Telegram_TagValues_MultiAgg]    Script Date: 27.10.2025 9:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Telegram_TagValues_MultiAgg]
    @DateFrom NVARCHAR(50),
    @DateTo NVARCHAR(50),
    @TagsJson NVARCHAR(MAX), -- [{"tag_id":1, "aggregates":["AVG","MIN","MAX","CURR"],"interval_minutes":60}]
    @GroupType NVARCHAR(10) = 'hour'  -- hour/day/shift/none
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE English;

    DECLARE @DateFromDT DATETIME = CONVERT(datetime, @DateFrom, 120);
    DECLARE @DateToDT   DATETIME = CONVERT(datetime, @DateTo, 120);

    IF OBJECT_ID('tempdb..#TagAggs') IS NOT NULL DROP TABLE #TagAggs;
    SELECT tag_id, aggregate, interval_minutes
    INTO #TagAggs
    FROM OPENJSON(@TagsJson)
         WITH (
            tag_id INT,
            aggregates NVARCHAR(MAX) AS JSON,
            interval_minutes INT
         )
         CROSS APPLY OPENJSON(aggregates) WITH (aggregate NVARCHAR(10) '$') as Aggs;

    -- Собираем массив SELECT-ов
    DECLARE @parts TABLE (SqlPart NVARCHAR(MAX));
    DECLARE @TagId INT, @Agg NVARCHAR(10), @Interval INT, @part NVARCHAR(MAX);

    DECLARE TagCursor CURSOR FOR
        SELECT tag_id, aggregate, interval_minutes FROM #TagAggs;

    OPEN TagCursor;
    FETCH NEXT FROM TagCursor INTO @TagId, @Agg, @Interval;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @part = 
        'SELECT ' +
            CASE 
                WHEN @GroupType = 'hour' THEN 'FORMAT(d.[Timestamp], ''yyyy-MM-dd HH:00'')'
                WHEN @GroupType = 'day' THEN 'FORMAT(d.[Timestamp], ''yyyy-MM-dd'')'
                ELSE 'FORMAT(d.[Timestamp], ''yyyy-MM-dd HH:mm'')'
            END + ' AS [Period], ' +
            'd.TagId, t.BrowseName AS TagName, ' +
            '''' + @Agg + ''' AS Aggregate, ' +
            CASE
                WHEN @Agg = 'AVG' THEN 'AVG(CAST(d.[Value] AS FLOAT))'
                WHEN @Agg = 'MIN' THEN 'MIN(CAST(d.[Value] AS FLOAT))'
                WHEN @Agg = 'MAX' THEN 'MAX(CAST(d.[Value] AS FLOAT))'
                WHEN @Agg = 'CURR' THEN '(
                    SELECT TOP 1 CAST(Value AS FLOAT)
                    FROM OpcData
                    WHERE TagId = d.TagId AND [Timestamp] <= MAX(d.[Timestamp])
                    ORDER BY [Timestamp] DESC
                )'
                ELSE 'AVG(CAST(d.[Value] AS FLOAT))'
            END + ' AS Value ' +
            'FROM OpcData d ' +
            'JOIN OpcTags t ON t.Id = d.TagId ' +
            'WHERE d.TagId = ' + CAST(@TagId AS NVARCHAR) + ' AND d.[Timestamp] >= @DateFromDT AND d.[Timestamp] < @DateToDT ' +
            'GROUP BY ' +
                CASE 
                    WHEN @GroupType = 'hour' THEN 'FORMAT(d.[Timestamp], ''yyyy-MM-dd HH:00''), d.TagId, t.BrowseName'
                    WHEN @GroupType = 'day' THEN 'FORMAT(d.[Timestamp], ''yyyy-MM-dd''), d.TagId, t.BrowseName'
                    ELSE 'FORMAT(d.[Timestamp], ''yyyy-MM-dd HH:mm''), d.TagId, t.BrowseName'
                END;

        INSERT INTO @parts(SqlPart) VALUES (@part);

        FETCH NEXT FROM TagCursor INTO @TagId, @Agg, @Interval;
    END

    CLOSE TagCursor;
    DEALLOCATE TagCursor;

    -- Собираем финальный SQL
    DECLARE @sql NVARCHAR(MAX) = '';
    SELECT @sql = STRING_AGG(SqlPart, ' UNION ALL ')
    FROM @parts;

    -- print(@sql) -- для отладки

    IF LEN(@sql) > 0
        EXEC sp_executesql @sql, N'@DateFromDT DATETIME, @DateToDT DATETIME', @DateFromDT, @DateToDT;

    DROP TABLE #TagAggs;
END
GO
USE [master]
GO
