<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python-FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\My_Business\AltaiMai\FactoryIQ\backend\venv\Scripts\python.exe|D:\My_Business\AltaiMai\FactoryIQ\backend\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".*" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="entrypoint.application" />
    <add key="PYTHONPATH" value="D:\My_Business\AltaiMai\FactoryIQ\backend" />
    <add key="WSGI_LOG" value="D:\My_Business\AltaiMai\FactoryIQ\backend\wfastcgi.log" />
    <add key="WSGI_LOGGING" value="1" />
  </appSettings>
</configuration>
