/* CustomReportTable.module.css */
.tableWrapper {
    margin-top: 16px;
}

.customReportTable {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    font-size: 1.01rem;
    min-width: 600px;
    margin-bottom: 0.8rem;
}

.customReportTable th,
.customReportTable td {
    border-bottom: 1px solid #e6eef8;
    padding: 0.63rem 0.6rem;
    text-align: center;
    font-weight: 400;
}

.customReportTable th {
    background: #e4f8fd;
    color: #26758b;
    font-weight: 600;
    font-size: 1.08rem;
    border-bottom: 2.3px solid #a8eceb;
}

.customReportTable thead tr:first-child th {
    background: #e3fbfa;
    font-size: 1.08rem;
    border-bottom: none;
}

.customReportTable tr:last-child td {
    border-bottom: none;
}

.customReportTable tr:hover {
    background: #eefcff;
}

.customReportTable td {
    background: #fff;
    font-size: 1.01rem;
    text-align: center;
}